<form class="opsandtactics">
    <fieldset>
        <legend class="resource-label">
            Situational Modifiers
        </legend>
        <div class="grid grid-2col flex-group-center">
            <input type="text" value="{{formula}}" readonly>
            <input type="text" name="sitBon" placeholder="Modifiers">
        </div>
    </fieldset>
    <fieldset>
        <legend class="resource-label">
            {{#if (eq atkType "melee")}}Melee{{else}}Ranged{{/if}} Attack Modifiers
        </legend>
        <div class="grid grid-4col flex-group-center">
            {{#if (eq atkType 'ranged')}}
            <s>High Ground</s>
            <div>
                <input type="checkbox" id="atk-high" name="atkHigh" disabled>
            </div>
            {{else}}
            <label for="atk-high">High Ground</label>
            <div>
                <input type="checkbox" id="atk-high" name="atkHigh" value="+1" data-tooltip="+1">
            </div>
            {{/if}}
            <label for="atk-unseen">Attacker Unseen</label>
            <div>
                <input  type="checkbox" id="atk-unseen" name="atkSeen" value="+2" data-tooltip="+2"/>
            </div>
        </div>
        <div class="grid grid-2col flex-group-center">
            <span>Attacking into Defender's...</span>
            <select class="flex-group-center" name="atkFlank">
                <option value="+0">Front</option>
                <option value="+2">Flanks (+2)</option>
                <option value="+4">Rear (+4)</option>
            </select>
            <span>Attacker's Stance is...</span>
            <select class="flex-group-center" name="atkStance">
                <option value="+0">Standing</option>
                {{#if (eq atkType "melee")}}
                <option value="-2" {{#if (eq stanceAttack 'kneeling')}}selected{{/if}}>Kneeling (-2)</option>
                <option value="-4" {{#if (eq stanceAttack 'prone')}}selected{{/if}}>Prone (-4)</option>
                {{else}}
                <option value="+1" {{#if (eq stanceAttack 'kneeling')}}selected{{/if}}>Kneeling (+1)</option>
                <option value="+2" {{#if (eq stanceAttack 'prone')}}selected{{/if}}>Prone (+2)</option>
                {{/if}}
            </select>
            <span> Attacking from Attacker's...</span>
            <select class="flex-group-center" name="atkFace">
                <option value="-0">Front</option>
                <option value="-5">Flanks (-5)</option>
                <option value="-10">Rear (-10)</option>
            </select>
        </div>
        <div class="grid grid-6col flex-group-center {{#if (eq atkType 'melee')}}collapse{{/if}}">
            <span class="grid-span-2">Full Range Increments</span>
            <input type="text" name="rangeNum" placeholder="0">
            <span class="grid-span-2">Range Penalty Multiplier</span>
            <input type="text" name="rangeMult" value="1" placeholder="0?">
        </div>        
    </fieldset>
    <fieldset>
        <legend class="resource-label">
            {{#if (eq atkType "melee")}}Melee{{else}}Ranged{{/if}} Defense Modifiers
        </legend>
        <div class="grid grid-12col flex-group-center">
            <label class="grid-span-3" for="def-stunned">Defender Stunned</label>
            <div>
                <input  type="checkbox" id="def-stunned" name="defStun" value="-2" data-tooltip="-2"/>
            </div>
            <label class="grid-span-3" for="def-climb">Defender Climbing</label>
            <div>
                <input  type="checkbox" id="def-climb" name="defClimb" value="-2" data-tooltip="-2"/>
            </div>
            {{#if (eq atkType 'ranged')}}
            <s class="grid-span-3">Defender Pinned</s>
            <div>
                <input type="checkbox" id="def-pin" name="defPin" disabled>
            </div>
            {{else}}
            <label class="grid-span-3" for="def-pin">Defender Pinned</label>
            <div>
                <input type="checkbox" id="def-pin" name="defPin" value="-4" data-tooltip="-4">
            </div>
            {{/if}}
        </div>
        <div class="grid grid-2col flex-group-center">
            <span>Defender's Stance is...</span>
            <select class="flex-group-center" name="defStance">
                <option value="+0">Standing</option>
                {{#if (eq atkType "melee")}}
                <option value="-4" {{#if (eq stanceDefend 'kneeling')}}selected{{/if}}>Kneeling (-4)</option>
                <option value="-2" {{#if (eq stanceDefend 'prone')}}selected{{/if}}>Prone (-2)</option>
                {{else}}
                <option value="+2" {{#if (eq stanceDefend 'kneeling')}}selected{{/if}}>Kneeling (+2)</option>
                <option value="+4" {{#if (eq stanceDefend 'prone')}}selected{{/if}}>Prone (+4)</option>
                {{/if}}
            </select>
        </div>
        <div class="grid grid-4col flex-group-center">
            <span>Defender Behind...</span>
            <select class="grid-span-3 flex-group-center" name="defCover">
                <option value="cov0">No Cover</option>
                <option value="cov1">1/4 Cover (+3)</option>
                <option value="cov2">1/2 Cover (+6, 10%)</option>
                <option value="cov3">3/4 Cover (+9, 20%)</option>
                <option value="cov4">9/10 Cover (+15, 30%)</option>
            </select>
            <span>Defender has...</span>
            <select class="grid-span-3 flex-group-center" name="defConceal">
                <option value="0">No Concealment</option>
                <option value="5">(5%)</option>
                <option value="10">1/4 Concealment (10%)</option>
                <option value="15">(15%)</option>
                <option value="20">1/2 Concealment (20%)</option>
                <option value="25">(25%)</option>
                <option value="30">3/4 Concealment (30%)</option>
                <option value="35">(35%)</option>
                <option value="40">9/10 Concealment (40%)</option>
                <option value="45">(45%)</option>
                <option value="50">Total Concealment (50%)</option>
            </select>
        </div>
    </fieldset>

</form>