<form class="opsandtactics">
    <fieldset>
        <legend class="resource-label">
            Situational Modifiers
        </legend>
        <div class="grid grid-2col flex-group-center">
            <input type="text" value="{{formula}}" readonly>
            <input type="text" name="sitBon" placeholder="Modifiers">
        </div>
    </fieldset>
    <fieldset>
        <legend class="resource-label">
            Reflex Modifiers
        </legend>
        <div class="grid grid-4col flex-group-center">
            <span>Defender Behind...</span>
            <select class="grid-span-3 flex-group-center" name="refCover">
                <option value="+0">No Cover</option>
                <option value="+2">1/4 Cover (+2)</option>
                <option value="+4">1/2 Cover (+4)</option>
                <option value="+6">3/4 Cover (+6, Half on fail None on pass)</option>
                <option value="+8">9/10 Cover (+8, Half on fail None on pass)</option>
            </select>
        </div>
    </fieldset>
</form>