<form class="opsandtactics flex-group-center">
    <div>
        <label for="normal">Normal Attack</label>
        <input type="radio" id="normal" name="bladeForm" value="0" checked>
    </div>
    <div>
        <label for="basic">Basic Offensive Form</label>
        <input type="radio" id="basic" name="bladeForm" value="1">
    </div>
    <div>
        <label for="inter">Intermediate Offensive Form</label>
        <input type="radio" id="inter" name="bladeForm" value="2">
    </div>
    <div>
        <label for="expert">Expert Offensive Form</label>
        <input type="radio" id="expert" name="bladeForm" value="3">
    </div>
</form>