<form class="{{cssClass}}" autocomplete="off">
    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="check">To-Hit</a>
        <a class="item" data-tab="recoil">Recoil</a>
        <a class="item" data-tab="effect">Damage</a>
        <a class="item" data-tab="cp">Combat Points</a>
    </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="check">
            <fieldset>
                <legend class="resource-label">Attack-Specific Modifiers</legend>
                <div class="grid grid-4col flex-group-center">
                    <span>To-Hit</span>
                    <input name="system.actions.{{attack.id}}.check.inherent" value="{{attack.object.check.inherent}}" type="text" data-dtype="String" placeholder="From Attack">
                    <select class="grid-span-2 flex-group-center" name="system.actions.{{attack.id}}.check.ability" data-dtype="String">
                        {{selectOptions OATS.abilities selected=attack.object.check.ability localize=true blank="Ability Modifier"}}
                    </select>
                </div>
            </fieldset>
            <fieldset>
                <legend class="resource-label">Ammunition Effects</legend>
                <div class="grid grid-4col flex-group-center">
                    <span>To-Hit</span>
                    <input type="text" value="" readonly>
                    <span>Error Range</span>
                    <input type="text" value="%" readonly>
                </div>
            </fieldset>
            <fieldset>
                <legend class="resource-label">Attack-Applicable Weapon Mods</legend>
                <div class="grid grid-8col flex-group-center">
                    {{#each attack.check}}
                    <span class="grid-span-7"  data-tooltip="{{this.description}}">{{this.name}}{{#if this.check}}: {{this.check}}{{/if}}</span> 
                    <div class="flex-group-center">
                        <input name="system.actions.{{@root.attack.id}}.check.mods.{{@key}}.active" type="checkbox" {{checked this.active}}>
                    </div>
                    {{/each}}
                </div>
            </fieldset>
        </div>

        <div class="tab" data-group="primary" data-tab="recoil">
            <fieldset>
                <legend class="resource-label">Attack-Specific Modifiers</legend>
                <div class="grid grid-4col flex-group-center">
                    <span>Recoil Applicable?</span>
                    <div class="flex-group-center">
                        <input name="system.actions.{{attack.id}}.recoil.active" type="checkbox" {{checked attack.object.recoil.active}}>
                    </div>
                    
                    <span>Penalty</span>
                    <input name="system.actions.{{attack.id}}.recoil.inherent" value="{{attack.object.recoil.inherent}}" type="text" data-dtype="Number" placeholder="From Attack">
                </div>
            </fieldset>
            <fieldset>
                <legend class="resource-label">Ammunition Effects</legend>
                <div class="grid grid-4col flex-group-center">
                    <span class="grid-span-2">Caliber Recoil Penalty (CRP)</span>
                    <input type="text" value="" readonly>
                </div>
            </fieldset>
            <fieldset>
                <legend class="resource-label">Attack-Applicable Weapon Mods</legend>
                <div class="grid grid-8col flex-group-center">
                    {{#each attack.recoil}}
                    <span class="grid-span-7"  data-tooltip="{{this.description}}">{{this.name}}{{#if this.recoil}}: {{numberFormat this.recoil sign=true}}{{/if}}</span> 
                    <div class="flex-group-center">
                        <input name="system.actions.{{@root.attack.id}}.recoil.mods.{{@key}}.active" type="checkbox" {{checked this.active}}>
                    </div>
                    {{/each}}
                </div>
            </fieldset>
        </div>

        <div class="tab" data-group="primary" data-tab="effect">
            <fieldset>
                <legend class="resource-label">Attack-Specific Modifiers</legend>
                <div class="grid grid-8col flex-group-center">
                    <span class="grid-span-2">Damage</span>
                    <input class="grid-span-2" name="system.actions.{{attack.id}}.effect.inherent" value="{{attack.object.effect.inherent}}" type="text" data-dtype="String" placeholder="From Attack">
                    <div class="grid-span-4 flexrow flex-group-center">
                        <select class="flex3 flex-group-center" name="system.actions.{{attack.id}}.effect.ability" data-dtype="String">
                            {{selectOptions OATS.abilityShort selected=attack.object.effect.ability localize=true blank="Ability"}}
                        </select>
                        <i class="fas fa-times flex1"></i>
                        <input class="flex2" name="system.actions.{{attack.id}}.effect.scaleAbility" value="{{attack.object.effect.scaleAbility}}" type="text" data-dtype="Number" placeholder="Mult">
                    </div>
                    <span class="grid-span-2">Ammo Scaling</span>
                    <div class="grid-start-3 grid-span-6 grid grid-9col flex-group-center">
                        <span class="grid-span-3">For damage with</span>
                        <input type="text" value="{{attack.object.dice.scaleCartridge.lessBar}}" readonly>
                        <span class="grid-span-3">or less dice gain</span>
                        <input name="system.actions.{{attack.id}}.dice.scaleCartridge.less" value="{{attack.object.dice.scaleCartridge.less}}" type="text" data-dtype="Number" placeholder="0">
                        <span>{{#if (eq attack.object.dice.scaleCartridge.less 1)}}die.{{else}}dice.{{/if}}</span>
                        <span class="grid-span-3">For damage with</span>
                        <input name="system.actions.{{attack.id}}.dice.scaleCartridge.bar" value="{{attack.object.dice.scaleCartridge.bar}}" type="text" data-dtype="Number" placeholder="0">
                        <span class="grid-span-3">or more dice gain</span>
                        <input name="system.actions.{{attack.id}}.dice.scaleCartridge.more" value="{{attack.object.dice.scaleCartridge.more}}" type="text" data-dtype="Number" placeholder="0">
                        <span>{{#if (eq attack.object.dice.scaleCartridge.more 1)}}die.{{else}}dice.{{/if}}</span>
                        <span class="grid-span-2">For every</span>
                        <input name="system.actions.{{attack.id}}.dice.scaleCartridge.per" value="{{attack.object.dice.scaleCartridge.per}}" type="text" data-dtype="Number" placeholder="0">
                        <span class="grid-span-2">{{#if (eq attack.object.dice.scaleCartridge.per 1)}}die{{else}}dice{{/if}} past</span>
                        <input type="text" value="{{attack.object.dice.scaleCartridge.bar}}" readonly>
                        <span>gain</span>
                        <input name="system.actions.{{attack.id}}.dice.scaleCartridge.scale" value="{{attack.object.dice.scaleCartridge.scale}}" type="text" data-dtype="Number" placeholder="0">
                        <span>{{#if (eq attack.object.dice.scaleCartridge.scale 1)}}die.{{else}}dice.{{/if}}</span>
                    </div>
                </div>
            </fieldset>
            <fieldset>
                <legend class="resource-label">Ammunition Effects</legend>
            </fieldset>
            <fieldset>
                <legend class="resource-label">Attack-Applicable Weapon Mods</legend>
                <div class="grid grid-4col flex-group-center">
                    <div class="grid-span-2 flex-group-center">
                        <div class="grid grid-8col flex-group-center">
                            {{#each attack.effect}}
                            <span class="grid-span-7"  data-tooltip="{{this.description}}">{{this.name}}{{#if this.effect}}: {{this.effect}}{{/if}}</span> 
                            <div class="flex-group-center">
                                <input name="system.actions.{{@root.attack.id}}.effect.mods.{{@key}}.active" type="checkbox" {{checked this.active}}>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                    <div class="grid-span-2 flex-group-center">
                        <div class="grid grid-8col flex-group-center">
                            {{#each attack.dice}}
                            <span class="grid-span-7"  data-tooltip="{{this.description}}">{{this.name}}{{#if this.dice}}: {{this.dice}}{{#if (eq this.dice 1)}} die{{else}} dice{{/if}}{{/if}}</span> 
                            <div class="flex-group-center">
                                <input name="system.actions.{{@root.attack.id}}.dice.mods.{{@key}}.active" type="checkbox" {{checked this.active}}>
                            </div>
                            {{/each}}
                        </div>
                    </div>
                </div>
            </fieldset>
        </div>
        
        <div class="tab" data-group="primary" data-tab="cp">
            <fieldset>
                <legend class="resource-label">Attack-Specific Modifiers</legend>
                <div class="grid grid-4col flex-group-center">
                    <span>Combat Points</span>
                    <input name="system.actions.{{attack.id}}.cp.inherent" value="{{attack.object.cp.inherent}}" type="text" data-dtype="Number" placeholder="From Attack">
                </div>
            </fieldset>
            <fieldset>
                <legend class="resource-label">Attack-Applicable Weapon Mods</legend>
                <div class="grid grid-8col flex-group-center">
                    {{#each attack.cp}}
                    <span class="grid-span-7"  data-tooltip="{{this.description}}">{{this.name}}{{#if this.cp}}: {{numberFormat this.cp sign=true}}{{/if}}</span> 
                    <div class="flex-group-center">
                        <input name="system.actions.{{@root.attack.id}}.cp.mods.{{@key}}.active" type="checkbox" {{checked this.active}}>
                    </div>
                    {{/each}}
                </div>
            </fieldset>
        </div>
    </section>
</form>