<form class="{{cssClass}}" autocomplete="off">
    <section class="sheet-body">
        <div class="flex-group-center flexcol">
            <button type="button" class="refresh-cp">Refresh Combat Points to Full [{{system.cp.value}}/{{system.cp.max}}]</button>
            {{#if system.cp.temp}}<button type="button" class="temp-cp">Clear Temporary Combat Points [{{numberFormat system.cp.temp sign=true}}]</button>{{/if}}
            {{#if system.cp.armor.value}}<button type="button" class="armor-cp">Spend Combat Points to Move in Armor [{{system.cp.armor.value}}]</button>{{/if}}
            {{#if system.def.move}}<button type="button" class="move-def">Reset Movement Bonus to Defense [{{numberFormat system.def.move sign=true}}]</button>{{/if}}
            {{#if system.stats.wager}}<button type="button" class="init-wager">Reset Initiative Wager [{{numberFormat system.stats.wager sign=true}}]</button>{{/if}}
            {{#if system.magic.mlCant}}<button type="button" class="mental-limit">Regain Mental Limit spent Invoking [{{system.magic.mlCant}}]</button>{{/if}}
        </div>
    </section>
</form>