<form class="opsandtactics flex-group-center">
    <label class="grid grid-5col">
        <span class="grid-span-4">Normal Attack</span>
        <input type="radio" name="bladeForm" value="0" checked>
    </label>
    <label class="grid grid-5col">
        <span class="grid-span-4">Basic Offensive Form</span>
        <input type="radio" name="bladeForm" value="1">
    </label>
    <label class="grid grid-5col">
        <span class="grid-span-4">Intermediate Offensive Form</span>
        <input type="radio" name="bladeForm" value="2">
    </label>
    <label class="grid grid-5col">
        <span class="grid-span-4">Expert Offensive Form</span>
        <input type="radio" name="bladeForm" value="3">
    </label>
    <hr>
</form>