<ol class="items-list flex-group-center">
    <li class="item grid grid-10col items-header resource-label">
        <div class="grid-span-2">Weapon</div>
        <div class="grid-start-9">Ammo</div>
        <a class="grid-start-10 item-control item-create" title="Create Weapon" data-type="weapon"><i class="fas fa-plus"></i></a>
    </li>
    {{#each weapons as |item id|}}
    <li class="item grid grid-10col items-header" data-item-id="{{item._id}}">
        <div class="grid-span-2">
            {{item.name}}
        </div>
        <div class="grid-span-2">Attacks <i class="fas fa-dice-d6"></i></div>
        <div>To-Hit</div>
        <div class="grid-span-2">Damage <i class="fas fa-dice-d6"></i></div>
        <div>CP</div>
        {{#if (eq item.system.magazine.type "internal")}}
        <div>
            <div class="flexrow">
                <input type="text" class="item-input" data-target-prop="system.magazine.value" data-target-id="{{item._id}}" value="{{item.system.magazine.value}}" data-dtype="Number"/>
                <div class="flex0">/</div>
                <input type="text" value="{{item.system.magazine.max}}" data-dtype="Number" readonly/>
            </div>
        </div>
        {{/if}}
        {{#if (eq item.system.magazine.type "external")}}
        <div>
            <div class="flexrow">
                <input type="text" class="item-input" data-target-prop="system.magazine.value" data-target-id="{{item.system.magazine.loaded.source}}" value="{{item.system.magazine.loaded.value}}" data-dtype="Number"/>
                <div class="flex0">/</div>
                <input type="text" value="{{item.system.magazine.loaded.max}}" data-dtype="Number" readonly/>
            </div>
        </div>
        {{/if}}
        {{#if (eq item.system.magazine.type "coolant")}}
        <div>
            <div class="flexrow">
                <input type="text" class="item-input" data-target-prop="system.magazine.value" data-target-id="{{item.system.magazine.loaded.source}}" value="{{item.system.magazine.loaded.value}}" data-dtype="Number"/>
                <div class="flex0">/</div>
                <input type="text" value="{{item.system.magazine.max}}" data-dtype="Number" readonly/>
            </div>
        </div>
        {{/if}}
        <div class="grid-start-10 ">
            <a class="item-control item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></a>
        </div>
    </li>
    {{#each item.system.attacks}}
    {{#if this.display}}
    <li class="grid grid-10col">
        <a class="grid-start-3 grid-span-2">{{this.name}}</a>
        <input class="" type="text"value="{{this.hit.total}}" data-dtype="Number" readonly/>
        <div class="rollable grid-span-2" data-roll="{{this.damage.total}}" data-label="{{localize 'OATS.phrasing.rolling'}} {{item.name}} {{this.name}} damage!">{{this.damage.total}}</div>
        <div>{{this.cp.total}}</div>
        <div>{{this.ammo}}</div>
    </li>
    {{/if}}
    {{/each}}
    {{/each}}
</ol>