<div class="grid grid-4col">
  <fieldset class="grid-span-2">
    <legend class="resource-label">
      Money
    </legend>
    <div class="grid grid-9col flex-group-center">
      <span class="grid-span-3">Wealth Points</span>
      <input class="grid-span-2" name="system.wealth.wp.cash" value="{{system.wealth.wp.cash}}" type="text" data-dtype="Number" placeholder="Cash">
      <input class="grid-span-2" name="system.wealth.wp.credit" value="{{system.wealth.wp.credit}}" type="text" data-dtype="Number" placeholder="Credit">
      <input class="grid-span-2" name="system.wealth.wp.misc" value="{{system.wealth.wp.check}}" type="text" data-dtype="Number" placeholder="Check">
      <a class="grid-span-3 rollable resource-label" data-roll="{{system.wealth.income}}" data-label="Payday" data-tooltip="Roll Paycheck">Income <i class="fas fa-money-check-alt"></i></a>
      <input class="grid-span-6" name="system.wealth.income" value="{{system.wealth.income}}" type="text" data-dtype="String">
      <input class="grid-span-9" name="system.wealth.notes" value="{{system.wealth.notes}}" type="text" data-dtype="String" placeholder="Notes">
    </div>
  </fieldset>
  <fieldset>
    <legend class="resource-label">
      Encumbrance
    </legend>
    <div class="grid grid-2col flex-group-center">
      <span>Light</span>
      <input type="text" value="{{system.stats.carrying.light}} lbs" readonly>
      <span>Medium</span>
      <input type="text" value="{{system.stats.carrying.medium}} lbs" readonly>
      <span>Heavy</span>
      <input type="text" value="{{system.stats.carrying.heavy}} lbs" readonly>
    </div>
  </fieldset>
  <fieldset>
    <legend class="resource-label">
      Capital
    </legend>
    <div class="grid grid-2col flex-group-center">
      <span>Personal</span>
      <input value="{{system.wealth.capital.personal.total}}" type="text" data-dtype="Number" readonly>
      <span>External</span>
      <input name="system.wealth.capital.external.total" value="{{system.wealth.capital.external.total}}" type="text" data-dtype="Number" placeholder="Total">
      <span>Hard</span>
      <div class="flexrow">
        <input type="text" name="system.wealth.capital.personal.hard" value="{{system.wealth.capital.personal.hard}}" data-dtype="Number" placeholder="Per">
        <input type="text" name="system.wealth.capital.external.hard" value="{{system.wealth.capital.external.hard}}" data-dtype="Number" placeholder="Ext">
      </div>
    </div>
  </fieldset>
</div>
{{#each nestedGear}}
<fieldset class="collapse-parent">
  <legend class="resource-label">
    {{@key}} Items {{#if @first}}<a class="item-control item-create" data-tooltip="Create {{@key}} item" data-type="object"><i class="fas fa-plus"></i></a>{{/if}} <a data-tooltip="Toggle {{@key}} Item Display"><i class="fas fa-list collapse-toggle" data-collapse="{{@key}}"></i></a>
  </legend>
  <ol class="items-list flex-group-left {{@key}} {{#if (lookup ../collapses @key)}}collapse{{/if}}">
    {{#each this as |item id|}}
    <li class="item grid grid-9col" data-item-id="{{item._id}}">
      <div class="grid-span-3 item-name flexrow">
        <img class="item-image" src="{{item.img}}">
        <a class="item-control item-edit" data-item-id="{{item._id}}" title="Edit Gear"><i class="fas fa-edit"></i> {{item.name}} {{#if (ne item.system.gear.quantity.value 1)}}[{{item.system.gear.quantity.value}}]{{/if}}</a>
      </div>
      <i class="grid-span-6">{{item.system.gear.location.note}}</i>  
      {{#if item.children.length}}
      <fieldset class="grid-start-2 grid-span-8">
        <ol class="items-list flex-group-left">
          {{#each item.children as |item id|}}
          <li class="grid grid-9col">
            <div class="grid-span-3 item-name flexrow">
              <img class="item-image" src="{{item.img}}">
              <a class="item-control item-edit" data-item-id="{{item._id}}" title="Edit Gear"><i class="fas fa-edit"></i> {{item.name}} {{#if (ne item.system.gear.quantity.value 1)}}[{{item.system.gear.quantity.value}}]{{/if}}</a>
            </div>
            <i class="grid-span-6">{{item.system.gear.location.note}}</i>            
            {{#if item.children.length}}
            <fieldset class="grid-start-2 grid-span-8">
              <ol class="items-list flex-group-left">
                {{#each item.children as |item id|}}
                <li class="grid grid-9col">
                  <div class="grid-span-3 item-name flexrow">
                    <img class="item-image" src="{{item.img}}">
                    <a class="item-control item-edit" data-item-id="{{item._id}}" title="Edit Gear"><i class="fas fa-edit"></i> {{item.name}} {{#if (ne item.system.gear.quantity.value 1)}}[{{item.system.gear.quantity.value}}]{{/if}}</a>
                  </div>
                  <i class="grid-span-6">{{item.system.gear.location.note}}</i>  
                  {{#if item.children.length}}
                  <fieldset class="grid-start-2 grid-span-8">
                    <ol class="items-list flex-group-left">
                      {{#each item.children as |item id|}}
                      <li class="grid grid-9col">
                        <div class="grid-span-3 item-name flexrow">
                          <img class="item-image" src="{{item.img}}">
                          <a class="item-control item-edit" data-item-id="{{item._id}}" title="Edit Gear"><i class="fas fa-edit"></i> {{item.name}} {{#if (ne item.system.gear.quantity.value 1)}}[{{item.system.gear.quantity.value}}]{{/if}}</a>
                        </div>
                        <i class="grid-span-6">{{item.system.gear.location.note}}</i>  
                      </li>
                      {{/each}}
                    </ol>
                  </fieldset>
                  {{/if}}
                </li>
                {{/each}}
              </ol>
            </fieldset>
            {{/if}}
          </li>
          {{/each}}
        </ol>
      </fieldset>
      {{/if}}
    </li>
    {{/each}}
  </ol>
</fieldset>
{{/each}}