<section class="grid grid-4col">
  <aside class="sidebar">
    {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
    use both the "grid" and "grid-Ncol" class where "N" can be any number
    from 1 to 12 and will create that number of columns.  --}}
    <fieldset>
      <legend class="resource-label">Ability Scores</legend>
      <div class="abilities flex-group-center grid grid-4col">
        {{#each system.abilities as |ability|}}
        <a class="resource-label actor-check" data-check-id="{{@key}}">{{localize (concat "OATS.abilityShort." @key)}}</a>
        <input type="text" name="system.abilities.{{@key}}.score" value="{{ability.score}}" data-dtype="Number"/>
        <input class="grid-start-4" type="text" name="system.abilities.{{@key}}.mod" value="{{ability.mod}}" data-dtype="Number" readonly/>
        {{#if (eq @key "str")}}
        <a class="resource-label actor-check" data-check-id="foc">{{localize "OATS.abilityShort.foc"}}</a>
        <input type="text" name="system.abilities.str.foc" value="{{ability.foc}}" data-dtype="Number"/>
        <a class="resource-label actor-check" data-check-id="pow">{{localize "OATS.abilityShort.pow"}}</a>
        <input type="text" name="system.abilities.str.pow" value="{{ability.pow}}" data-dtype="Number" readonly/>
        {{/if}}
        {{#if (eq @key "dex")}}
        <a class="resource-label actor-check" data-check-id="mrk">{{localize "OATS.abilityShort.mrk"}}</a>
        <input type="text" name="system.abilities.dex.mrk" value="{{ability.mrk}}" data-dtype="Number"/>
        <a class="resource-label actor-check" data-check-id="agi">{{localize "OATS.abilityShort.agi"}}</a>
        <input type="text" name="system.abilities.dex.agi" value="{{ability.agi}}" data-dtype="Number" readonly/>
        {{/if}}
        {{/each}}
      </div>
    </fieldset>
    <fieldset>
      <legend class="resource-label">
        Saving Throws
      </legend>
        {{#each system.saves as |save|}}
          <fieldset class="save flex-group-center collapse-parent">
            <a class="resource-label actor-check" data-check-id="{{@key}}" data-tooltip="Roll {{localize (concat 'OATS.saves.' @key)}}">{{#if (gte save.value 0)}}+{{/if}}{{save.value}} {{localize (concat "OATS.saves." @key)}}</a> <a data-tooltip="Toggle Modifier Display"><i class="fas fa-list collapse-toggle" data-collapse="{{@key}}"></i></a>
            <div class="{{@key}} {{#if (lookup ../collapses @key)}}collapse{{/if}}">
              <div class="grid grid-3col flex-group-center">
                <span>Base</span>
                <div class="grid-span-2 flexrow flex-group-center">
                  <input class="flex3" type="text" name="system.saves.{{@key}}.base" value="{{save.base}}" data-dtype="Number"/>
                  <span>x</span>
                  <input class="flex3" type="text" name="system.saves.{{@key}}.mult" value="{{save.mult}}" data-dtype="Number"/>
                </div>
                <span>Misc</span>
                <input class="grid-span-2" type="text" name="system.saves.{{@key}}.mods.misc" value="{{save.mods.misc}}" data-dtype="Number"/>
              </div>
            </div>
          </fieldset>
        {{/each}}
    </fieldset>
  </aside>

  {{!-- For the main features list, span the right two columns --}}
  <section class="main grid-span-3">
    {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
    <fieldset>
      <legend class="resource-label">
        Skills <a class="item-control item-create" title="Create skill" data-type="skill"><i class="fas fa-plus"></i></a>
      </legend>
      <ol>
        {{#each skills as |item id|}}
        <li class="item skill flex-group-center" data-item-id="{{item._id}}">
          <fieldset>
            <a class="item-control item-edit" data-item-id="{{item._id}}" title="Edit Skill Item"><i class="fas fa-edit"></i> {{item.name}}</a>
            <a class="skill-check resource-label" data-item-id="{{item._id}}" title="{{item.mods.label}}">{{item.mods.total}}</a>
            
          </fieldset> 
        </li>
        {{/each}}     
    </fieldset>
  </section>

</section>