<fieldset class=collapse-parent>
    <legend class="resource-label">
        Weapons <a class="grid-start-10 item-control item-create" data-tooltip="Create Weapon" data-type="weapon"><i class="fas fa-plus"></i></a> <a data-tooltip="Toggle Weapons List Display"><i class="fas fa-list collapse-toggle" data-collapse="weapons"></i></a>
    </legend>
    <ol class="items-list weapons {{#if collapses.weapons}}collapse{{/if}}">
        {{#each weapons as |item id|}}
        <li class="item" data-item-id="{{item._id}}">
            <fieldset>
                <legend>
                    <a class="item-control item-edit" data-item-id="{{item._id}}" data-tooltip="Edit Item">{{item.name}} <i class="fas fa-edit"></i></a>
                </legend>
                <div class="grid grid-5col">
                    <div class="grid-span-2">
                        <div class="grid grid-5col flex-group-center">
                            <span>Range</span>
                            <input type="text" value="{{item.system.range}}" readonly>
                            <span>Crit</span>
                            <input class="grid-span-2" type="text" value="{{item.system.crit}}-18" readonly>
                            <span>Error</span>
                            <input type="text" value="{{item.system.error}}%" readonly>
                            {{#unless (eq this.system.magazine.type "none")}}
                            {{#if (eq this.system.magazine.type "coolant")}}
                            <span>Heat</span>
                            {{else}}
                            <span>Ammo</span>
                            {{/if}}
                            {{/unless}}
                            {{#if (eq item.system.magazine.type "internal")}}
                            <div class="grid-span-2 flexrow flex-group-center">
                                <input class="flex3" type="text" class="item-input" data-target-prop="system.magazine.value" data-target-id="{{item._id}}" value="{{item.system.magazine.value}}" data-dtype="Number"/>
                                <span>/</span>
                                <input class="flex3" type="text" value="{{item.system.magazine.max}}" data-dtype="Number" readonly/>
                            </div>
                            {{/if}}
                            {{#if (eq item.system.magazine.type "external")}}
                            <div class="grid-span-2 flexrow flex-group-center">
                                <input type="text" class="item-input flex3" data-target-prop="value" data-target-id="{{item.system.magazine.loaded.source}}" value="{{item.system.magazine.loaded.value}}" data-dtype="Number"/>
                                <span>{{#if (gt item.system.magazine.value 0)}}+{{item.system.magazine.value}}{{/if}}/</span>
                                <input type="text" class="flex3" value="{{item.system.magazine.loaded.max}}" data-dtype="Number" readonly/>
                            </div>
                            {{/if}}
                            {{#if (eq item.system.magazine.type "coolant")}}
                            <div class="grid-span-2 flexrow flex-group-center">
                                <input type="text" class="item-input flex3" data-target-prop="value" data-target-id="{{item.system.magazine.loaded.source}}" value="{{item.system.magazine.loaded.value}}" data-dtype="Number"/>
                                <span>/</span>
                                <input type="text" class="flex3" value="{{item.system.magazine.max}}" data-dtype="Number" readonly/>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                    <ol class="grid-span-3 items-list flex-group-center">
                        {{#each item.system.attacks}}
                        {{#if this.active}}
                        <li class="item flexrow">
                            <a class="rollable resource-label" data-roll="3d6+{{this.mods.hitTotal}}" data-label="{{../name}} {{this.name}} attack roll" data-tooltip="Attack Roll">{{#if (gt this.mods.hitTotal 0)}}+{{/if}}{{this.mods.hitTotal}} {{this.name}}</a>
                            <a class="rollable grid-span-2 resource-label" data-roll="{{this.mods.damageTotal}}" data-label="{{../name}} {{this.name}} damage roll" data-tooltip="Damage Roll">{{this.mods.damageTotal}}</a>
                            <span>{{this.mods.cp}} CP{{#if (gt this.ammo 0)}}, {{this.ammo}} Ammo{{/if}}</span>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ol>
                </div>
            </fieldset>
        </li>
        {{/each}}
    </ol>
</fieldset>