<fieldset>
    <legend class="resource-label">
        Object Resources
    </legend>
    {{#each resObjects}}
    <fieldset>
        <legend>{{this.label}}</legend>
        <ol class="items-list">
        {{#each this.entries}}
            <li class="grid grid-10col flex-group-center">
                <span class="grid-span-5">{{this.name}}</span>
                {{#if (eq this.type "consumable")}}
                <div class="grid-span-2 flexrow flex-group-center">
                    <input class="flex3 item-input" type="text" data-target-prop="value" data-target-id="{{this.id}}" value="{{this.value}}" data-dtype="Number" placeholder="Value">
                    <span>/</span>
                    <input class="flex3 item-input" type="text" data-target-prop="max" data-target-id="{{this.id}}" value="{{this.max}}" data-dtype="Number" placeholder="Max">
                </div>
                <span class="grid-span-2">Available</span>
                <div>
                    <input class="flex3 item-checkbox" type="checkbox" data-target-prop="available" data-target-id="{{this.id}}" {{checked this.available}}>
                </div>
                {{/if}}
                {{#if (eq this.type "coolant")}}
                <input class="grid-span-2 item-input" type="text" data-target-prop="value" data-target-id="{{this.id}}" value="{{this.value}}" data-dtype="Number" placeholder="Value">
                <span class="grid-span-2">Cool</span>
                <div>
                    <input class="flex3 item-checkbox" type="checkbox" data-target-prop="available" data-target-id="{{this.id}}" {{checked this.available}}>
                </div>
                {{/if}}
                {{#if (eq this.type "magic")}}
                <div class="grid-span-2 flexrow flex-group-center">
                    <input class="flex3 item-input" type="text" data-target-prop="value" data-target-id="{{this.id}}" value="{{this.value}}" data-dtype="Number" placeholder="Value">
                    <span>/</span>
                    <input class="flex3 item-input" type="text" data-target-prop="max" data-target-id="{{this.id}}" value="{{this.max}}" data-dtype="Number" placeholder="Max">
                </div>
                <span class="grid-span-2">Mental Limit</span>
                <input class="item-input" type="text" data-target-prop="ml" data-target-id="{{this.id}}" value="{{this.ml}}" data-dtype="Number" placeholder="ML">
                {{/if}}
                {{#if (eq this.type "resource")}}
                <div class="grid-span-5 flexrow flex-group-center">
                    <input class="flex3 item-input" type="text" data-target-prop="value" data-target-id="{{this.id}}" value="{{this.value}}" data-dtype="String" placeholder="Value">
                    <span>/</span>
                    <input class="flex3 item-input" type="text" data-target-prop="max" data-target-id="{{this.id}}" value="{{this.max}}" data-dtype="String" placeholder="Max">
                </div>
                {{/if}}
            </li>
        {{/each}}
        </ol>
    </fieldset>
    {{/each}}
</fieldset>

<ol class="items-list flex-group-center">
    <li class="item items-header resource-label grid grid-12col">
        <div class="grid-span-4">Magic</div>
        <div class="grid-span-2">Action</div>
        <div class="grid-span-2">Effect</div>
        <div>CP</div>
        <div>ML</div>
        <div>Uses</div>
        <div class="align-center">
            <a class="item-control item-create" title="Create Magic" data-type="magic"><i class="fas fa-plus"></i></a>
        </div>        
    </li>
    {{#each magic as |item id|}}
    <li class="grid grid-12col">
        <div class="flexrow grid-span-4">
            {{#if item.system.active}}
            <h4 class="">{{item.name}}</h4>
            {{else}}
            <i class="">{{item.name}}</i>
            {{/if}}
            <input class="item-checkbox" data-target-prop="system.active" data-target-id="{{item._id}}" data-value="{{item.system.active}}" {{checked item.system.active}} type="checkbox"/>
        </div>
        <div class="flexrow grid-span-2">
            {{#if item.system.action.mods}}
            <input type="text" value="{{item.system.action.mods}}" title="{{item.system.action.flavor}}" data-dtype="String" readonly>
            {{else}}
            <input type="text" value="{{item.system.action.flavor}}" title="{{item.system.action.flavor}}" data-dtype="String" readonly>
            {{/if}}
            {{#if item.system.flags.passive}}
            <a class="3d6-roll" data-roll-type="{{item.system.action.type}}" data-type="magicuse" data-weapon="{{item._id}}" data-mag-type="{{item.system.uses.type}}" data-ammo="1" data-parts="{{item.system.action.mods}}" data-title="{{item.name}} Action" data-flavor="{{item.system.action.flavor}}"><i class="fas fa-dice-d6"></i></a>
            {{else}}
            <a class="3d6-roll mental-limit" data-ml-cost="{{item.system.mlCost.value}}" data-roll-type="{{item.system.action.type}}" data-type="magicuse" data-weapon="{{item._id}}" data-mag-type="{{item.system.uses.type}}" data-ammo="1" data-parts="{{item.system.action.mods}}" data-title="{{item.name}} Action" data-flavor="{{item.system.action.flavor}}"><i class="fas fa-dice-d6"></i></a>
            {{/if}}
        </div>
        <div class="flexrow grid-span-2">
            {{#if item.system.effect.mods}}
            <input type="text" title="{{item.system.effect.flavor}}" value="{{item.system.effect.mods}}" data-dtype="String" readonly>
            <a class="3d6-roll" data-roll-type="{{item.system.effect.type}}" data-type="magiceffect" data-weapon="{{item._id}}" data-ammo="0" data-parts="{{item.system.effect.mods}}" data-title="{{item.name}} Effect" data-flavor="{{item.system.effect.flavor}}"><i class="fas fa-dice-d6"></i></a>
            {{else}}
                {{#if item.system.effect.flavor}}
                <input type="text" title="{{item.system.effect.flavor}}" value="{{item.system.effect.flavor}}" data-dtype="String" readonly>
                <a class="3d6-roll" data-roll-type="{{item.system.effect.type}}" data-type="magiceffect" data-weapon="{{item._id}}" data-ammo="0" data-parts="{{item.system.effect.mods}}" data-title="{{item.name}} Effect" data-flavor="{{item.system.effect.flavor}}"><i class="fas fa-dice-d6"></i></a>
                {{else}}
                <span></span><span></span>
                {{/if}}
            {{/if}}
        </div>
        <div>{{item.system.cp}}</div>
        {{#if item.system.mlCost}}
        <div>{{item.system.mlCost.value}}</div>
        {{else}}
        <div></div>
        {{/if}}
        {{#if item.system.flags.limited}}
        <div class="flexrow">
            {{#if item.system.flags.shared}}
            <input type="text" class="item-input" data-target-prop="system.uses.value" data-target-id="{{item.system.uses.shared.source}}" value="{{item.system.uses.shared.value}}" data-dtype="Number">
            <span class="flex0">/</span>
            <input type="text" value="{{item.system.uses.shared.max}}" data-dtype="Number" readonly>
            {{else}}
            <input type="text" class="item-input" data-target-prop="system.uses.value" data-target-id="{{item._id}}" value="{{item.system.uses.value}}" data-dtype="Number">
            <span class="flex0">/</span>
            <input type="text" value="{{item.system.uses.max}}" readonly>
            {{/if}}
        </div>
        {{else}}
        <div></div>
        {{/if}}
        <div class="align-center">
          <a class="item-control item-edit" data-item-id="{{item._id}}" title="Edit Item"><i class="fas fa-edit"></i></a>
        </div>
    </li>
    {{/each}}
</ol>