<ol class="items-list effects-list">
  {{#each effects as |section sid|}}
  <fieldset>
    <legend class="resource-label">
      <li data-effect-type="{{section.type}}">
        <div class="item-controls effect-controls">
          {{section.label}} <a class="effect-control" data-action="create" data-tooltip="Create {{section.type}} effect"><i class="fas fa-plus"></i></a>
        </div>
      </li>
    </legend>
    <ol class="items-list item-list effects-list">
      {{#each section.effects as |effect|}}
      <li class="item effect grid grid-9col flex-group-left" data-effect-id="{{effect.id}}">
        <div class="item-name effect-name flexrow grid-span-8">
          <img class="item-image" src="{{effect.icon}}"/>
          <h4>{{effect.label}} {{#unless (eq @root.actor.uuid effect.origin)}}<i>from {{effect.sourceName}}</i>{{/unless}}</h4>
        </div>
        <div class="flexrow flex-group-center">
          <a class="effect-control" data-action="toggle" data-tooltip="Toggle Effect"><i class="fas {{#if effect.disabled}}fa-check{{else}}fa-times{{/if}}"></i></a>
          <a class="effect-control" data-action="edit" data-tooltip="Edit Effect"><i class="fas fa-edit"></i></a>
          <a class="effect-control" data-action="delete" data-tooltip="Delete Effect"><i class="fas fa-trash"></i></a>
        </div>

      </li>
      {{/each}}
    </ol>
  </fieldset>
  {{/each}}
  <br>
  <fieldset class="collapse-parent">
    <legend class="resource-label">
      Unfiltered Item List <a data-tooltip="Toggle Full Item List Display"><i class="fas fa-list collapse-toggle" data-collapse="unfiltered"></i></a>
    </legend>
    <div class="unfiltered {{#if collapses.unfiltered}}collapse{{/if}}">
      <ol class="items-list ">
        {{#each items as |item id|}}
        <li class="item grid grid-10col flex-group-left" data-item-id="{{item._id}}">
          <a class="item-control item-edit grid-span-9" data-item-id="{{item._id}}" data-tooltip="Edit Item"><i class="fas fa-edit"></i> {{item.type}}: {{item.name}}</a>
          <a class="item-control item-delete" data-item-id="{{item._id}}" title="Delete Item"><i class="fas fa-trash"></i></a>
        </li>
        {{/each}}
      </ol>
    </div>
  </fieldset>
</ol>
