<div class="grid grid-5col">
    <fieldset class="grid-span-3">
        <legend class="resource-label">
            Formulae
        </legend>
        <div class="grid grid-6col flex-group-center">
            <span class="grid-span-2">Core HP</span>
            <input class="grid-span-3" type="text" name="system.health.chp.formula" value="{{system.health.chp.formula}}" data-dtype="String">
            <input type="text" name="system.health.chp.mods.misc" value="{{system.health.chp.mods.misc}}" placeholder="Misc" data-dtype="Number">
            <span class="grid-span-2">Extended HP</span>
            <input class="grid-span-3" type="text" name="system.health.xhp.formula" value="{{system.health.xhp.formula}}" data-dtype="String">
            <input type="text" name="system.health.xhp.mods.misc" value="{{system.health.xhp.mods.misc}}" placeholder="Misc" data-dtype="Number">
            <span class="grid-span-2">Mental Limit</span>
            <input class="grid-span-3" type="text" name="system.ml.formula" value="{{system.ml.formula}}" data-dtype="String">
            <input type="text" name="system.ml.mods.misc" value="{{system.ml.mods.misc}}" placeholder="Misc" data-dtype="Number">
            <span class="grid-span-2">Encumbrance</span>
            <input class="grid-span-3" type="text" name="system.stats.carrying.formula" value="{{system.stats.carrying.formula}}" data-dtype="String">
            <input type="text" name="system.stats.carrying.mods.misc" value="{{system.stats.carrying.mods.misc}}" placeholder="Misc" data-dtype="Number">
        </div>
    </fieldset>
    <fieldset class="grid-span-2">
        <legend class="resource-label">
            Modifiers
        </legend>
        <div class="grid grid-4col flex-group-center">
            <span class="grid-span-2">Base Attack</span>
            <input type="text" value="{{numberFormat system.stats.bab.value sign=true}}" readonly>
            <input type="text" name="system.stats.bab.misc" value="{{system.stats.bab.misc}}" placeholder="Misc" data-dtype="Number">
            <span class="grid-span-2">Initiative</span>
            <input type="text"value="{{numberFormat system.stats.init.value sign=true}}" readonly>
            <input type="text" name="system.stats.init.misc" value="{{system.stats.init.misc}}" placeholder="Misc" data-dtype="Number">
            <select class="grid-span-4 flex-group-center" name="system.stats.wager" data-dtype="Number">
                {{selectOptions wagers selected=system.stats.wager nameAttr="value" labelAttr="label"}}
            </select>
            <span class="grid-span-2">Recoil</span>
            <input type="text"value="{{numberFormat system.stats.recoil.value sign=true}}" readonly>
            <input type="text" name="system.stats.recoil.misc" value="{{system.stats.recoil.misc}}" placeholder="Misc" data-dtype="Number">
        </div>
    </fieldset>
</div>
<fieldset>
    <legend class="resource-label">
        Extremity Damage
    </legend>
    <div class="grid grid-10col flex-group-center">
        <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.head">Head <i class="fas fa-user{{#if system.health.extremity.head}}-injured jammed{{/if}}"></i></a>
        <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.leftArm">L Arm <i class="fas fa-user{{#if system.health.extremity.leftArm}}-injured jammed{{/if}}"></i></a>
        <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.leftHand">L Hand <i class="fas fa-user{{#if system.health.extremity.leftHand}}-injured jammed{{/if}}"></i></a>
        <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.rightArm">R Arm <i class="fas fa-user{{#if system.health.extremity.rightArm}}-injured jammed{{/if}}"></i></a>
        <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.rightHand">R Hand <i class="fas fa-user{{#if system.health.extremity.rightHand}}-injured jammed{{/if}}"></i></a>
        <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.leftLeg">L Leg <i class="fas fa-user{{#if system.health.extremity.leftLeg}}-injured jammed{{/if}}"></i></a>
        <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.leftFoot">L Foot <i class="fas fa-user{{#if system.health.extremity.leftFoot}}-injured jammed{{/if}}"></i></a>
        <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.rightLeg">R Leg <i class="fas fa-user{{#if system.health.extremity.rightLeg}}-injured jammed{{/if}}"></i></a>
        <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.rightFoot">R Foot <i class="fas fa-user{{#if system.health.extremity.rightFoot}}-injured jammed{{/if}}"></i></a>
        <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.other">Other <i class="fas fa-user{{#if system.health.extremity.other}}-injured jammed{{/if}}"></i></a>
    </div>
</fieldset>
<fieldset>
    <legend class="resource-label">
        Traits <a class="item-control item-create" title="Create Trait" data-type="feature"><i class="fas fa-plus"></i></a>
    </legend>
    <ol class="items-list item-list">
        {{#each traits as |item id|}}
        <li class="item grid grid-3col flex-group-left" data-item-id="{{item._id}}">
            <div class="item-name flexrow">
                <img class="item-image" src="{{item.img}}">
                <a class="item-control item-edit" data-item-id="{{item._id}}" title="Edit Trait"><i class="fas fa-edit"></i> {{item.name}}</a>
            </div>
            <i class="grid-span-2">{{item.system.summary}}</i>
        </li>
        {{/each}}
    </ol>
</fieldset>