<div class="grid grid-5col">
    <fieldset class="grid-span-3">
        <legend class="resource-label">
            Formulae
        </legend>
        <div class="grid grid-6col flex-group-center">
            <span class="grid-span-2">Core HP</span>
            <input class="grid-span-3" type="text" name="system.health.chp.formula" value="{{system.health.chp.formula}}" data-dtype="String">
            <input type="text" name="system.health.chp.mods.misc" value="{{system.health.chp.mods.misc}}" placeholder="Misc" data-dtype="Number">
            <span class="grid-span-2">Extended HP</span>
            <input class="grid-span-3" type="text" name="system.health.xhp.formula" value="{{system.health.xhp.formula}}" data-dtype="String">
            <input type="text" name="system.health.xhp.mods.misc" value="{{system.health.xhp.mods.misc}}" placeholder="Misc" data-dtype="Number">
            <span class="grid-span-2">Mental Limit</span>
            <input class="grid-span-3" type="text" name="system.ml.formula" value="{{system.ml.formula}}" data-dtype="String">
            <input type="text" name="system.ml.mods.misc" value="{{system.ml.mods.misc}}" placeholder="Misc" data-dtype="Number">
            <span class="grid-span-2">Encumberance</span>
            <input class="grid-span-3" type="text" name="system.stats.carrying.formula" value="{{system.stats.carrying.formula}}" data-dtype="String">
            <input type="text" name="system.stats.carrying.mods.misc" value="{{system.stats.carrying.mods.misc}}" placeholder="Misc" data-dtype="Number">
        </div>
    </fieldset>
    <fieldset class="grid-span-2">
        <legend class="resource-label">
            Modifiers
        </legend>
        <div class="grid grid-4col flex-group-center">
            <span class="grid-span-2">Base Attack</span>
            <input type="text" value="{{system.stats.bab.value}}" readonly>
            <input type="text" name="system.stats.bab.misc" value="{{system.stats.bab.misc}}" placeholder="Misc" data-dtype="Number">
            <span class="grid-span-2">Initiative</span>
            <input type="text"value="{{system.stats.init.value}}" readonly>
            <input type="text" name="system.stats.init.misc" value="{{system.stats.init.misc}}" placeholder="Misc" data-dtype="Number">
            <select class="grid-span-4 flex-group-center" name="system.stats.wager" data-dtype="Number">
                {{selectOptions wagers selected=system.stats.wager nameAttr="value" labelAttr="label"}}
            </select>
            <span class="grid-span-2">Recoil</span>
            <input type="text"value="{{system.stats.recoil.value}}" readonly>
            <input type="text" name="system.stats.recoil.misc" value="{{system.stats.recoil.misc}}" placeholder="Misc" data-dtype="Number">
        </div>
    </fieldset>
</div>
<fieldset>
    <legend class="resource-label">
        Mental Limit
    </legend>
    <div class="grid grid-8col flex-group-center">
        <span class="grid-span-2">Psionically Focused</span>
        <div>
            <input name="system.magic.psionFocus" type="checkbox" {{checked system.magic.psionFocus}}/>
        </div>
        <input type="text" value="{{system.magic.psion}}" readonly>
        <span class="grid-span-2">Object Mental Limit</span>
        <input type="text" name="system.ml.mods.misc" value="{{system.ml.mods.misc}}" data-dtype="Number" placeholder="Misc">
        <input type="text" value="{{system.ml.object}}" readonly>
        <span class="grid-span-2">Recipe Sets Memorized</span>
        <input type="text" name="system.magic.memorized" value="{{system.magic.memorized}}" data-dtype="Number" placeholder="Sets">
        <input type="text" value="{{system.magic.recipe}}" readonly>
        <span class="grid-span-2">Incantation Use</span>
        <a class="mental-limit" data-ml-cost="-{{system.ml.max}}"><i class="fas fa-recycle" data-tooltip="Regain Mental Limit spent by Invoking"></i></a>
        <input type="text" name="system.magic.incant" value="{{system.magic.incant}}" data-dtype="Number" placeholder="Spent">
    </div>
</fieldset>
<fieldset>
    <legend class="resource-label">
        Traits <a class="item-control item-create" title="Create Trait" data-type="feature"><i class="fas fa-plus"></i></a>
    </legend>
    <ol class="items-list flex-group-left">
        {{#each traits as |item id|}}
        <li class="item grid grid-12col" data-item-id="{{item._id}}">
            <div class="item-image">
                <a class="rollable" data-roll-type="item"><img src="{{item.img}}" title="{{item.name}}" width="24" height="24"/></a>
            </div>
            <div class="grid-span-9 flexrow flex-group-left">
                <span class="item-name">{{item.name}}</span>
                <i>{{item.system.summary}}</i>
            </div>
            <div class="item-controls grid-span-2">
                <a class="item-control item-edit" data-item-id="{{item._id}}" title="Edit Trait"><i class="fas fa-edit"></i></a>
                <a class="item-control item-delete" data-item-id="{{item._id}}" title="Delete Trait"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</fieldset>