<ol class="items-list flex-group-center">
  <li class="item items-header grid grid-8col">
    <div>Equip DEF</div>
    <div>Max AGI</div>
    <div>Size</div>
    <div>Movement</div>
    <div>Misc</div>
    <div>Dodge</div>
    <div>Armor Penalty</div>
    <div>CP Loss</div>
  </li>
  <li class="grid grid-8col">
    <div class="flexrow">
      <input type="text" value="{{system.def.equip.value}}" data-dtype="Number" readonly/>
      <input type="text" name="system.def.equip.misc" value="{{system.def.equip.misc}}" data-dtype="Number"/>
    </div>
    <input type="text" value="{{system.stats.agiMax}}" data-dtype="Number" placeholder="n/A" readonly/>
    <input type="text" name="system.def.size" value="{{system.def.size}}" data-dtype="Number"/>
    <input type="text" name="system.def.move" value="{{system.def.move}}" data-dtype="Number"/>
    <input type="text" name="system.def.misc" value="{{system.def.misc}}" data-dtype="Number"/>
    <input type="text" name="system.def.dodge" value="{{system.def.dodge}}" data-dtype="Number"/>
    <input type="text" value="{{system.stats.armorPenalty.value}}" data-dtype="Number" readonly/>
    <input type="text" value="{{system.cp.armor.value}}" data-dtype="Number" readonly/>
  </li>
</ol>
<ol class="items-list flex-group-center">
  <li class="item items-header grid grid-12col">
    <div class="grid-span-6">Medical Notes</div>
    <div class="grid-span-2">Incoming Damage</div>
    <div class="grid-span-2">Bleed</div>
    <div>XHP</div>
    <div>CHP</div>
  </li>
  <li class="grid grid-12col">
    <div class="grid-span-6">
      <input type="text" name="system.health.notes" value="{{system.health.notes}}" data-dtype="String"/>
    </div>
    <div class="grid-span-2">
      <input type="text" name="system.health.incoming" value="{{system.health.incoming}}" data-dtype="Number"/>
    </div>
    <div>
      <input type="text" name="system.health.bleed" value="{{system.health.bleed}}" data-dtype="Number"/>
    </div>
    <div>
      <a class="actor-bleed"><i class="fas fa-tint"></i></a>
    </div>
    <div>
      <a class="item-control apply-damage" title="Apply Damage to XHP" data-target="xhp"><i class="fas fa-prescription-bottle-alt"></i></a>
    </div>
    <div>
      <a class="item-control apply-damage" title="Apply Damage to CHP" data-target="chp"><i class="fas fa-heartbeat"></i></a>
    </div>
  </li>
</ol>

<ol class="items-list flex-group-center">
  {{#each armors}}
    {{#if (or this.items.length (eq @key 'worn'))}}
      <li class="item grid grid-12col items-header">
        <div class="grid-span-4" title="Click to toggle active state">{{this.label}}</div>
        <div class="grid-span-4">Damage Reduction</div>
        {{#if (eq @key 'shield')}}
        <div class="grid-span-2">Soak</div>
        {{else}}
        <div class="grid-span-2">Armor Points</div>
        {{/if}}
        <div>Apply</div>
        <a class="item-control item-create" title="Create armor" data-type="armor" data-layer={{@key}} data-active="true"><i class="fas fa-plus"></i></a>
      </li>      
    {{/if}}
    {{#each this.items}}
      <li class="grid grid-12col">
        <a class="grid-span-4 item-toggle" data-target-prop="system.active" data-target-id="{{this._id}}">{{this.name}}</a>
        <select class="grid-span-4 item-input" data-target-prop="system.activeDR" data-target-id="{{this._id}}" value="{{this.activeDR}}" data-dtype="Number">
          {{#select this.system.activeDR}}
            <option value="None">None</option>
            {{#each this.system.protection}}
            <option value="{{@key}}">{{this.value}}/ {{this.name}}</option>
            {{/each}}
          {{/select}}
        </select>
        <div class="grid-span-2 flexrow">
          {{#if this.system.ap.max}}
          <input type="text" class="item-input" data-target-prop="system.ap.value" data-target-id="{{this._id}}" value="{{this.system.ap.value}}" data-dtype="Number"/>
          <span class="flex0">/</span>
          <input type="text" name="this.system.ap.max" value="{{this.system.ap.max}}" data-dtype="Number" readonly/>
          {{else}}
          <span>n/A</span>
          {{/if}}
        </div>
        <a class="item-control apply-damage" title="Apply Damage" data-target="{{this._id}}"><i class="{{../icon}}"></i></a>
        <a class="flex1 item-control item-edit" data-item-id="{{this._id}}" title="Edit Item"><i class="fas fa-edit"></i></a>
      </li>
    {{/each}}
  {{/each}}
</ol>