<div>
    <fieldset>
        <legend class="resource-label">
            Formulas & Modifiers
        </legend>
        <div class="grid grid-2col flex-group-center">
            <fieldset class="save">
                <a class="trait-edit" data-target-name="system.health.chp" data-target-type="formula" data-tooltip="Edit Core Hit Points Calculation">Core HP: {{system.health.chp.display}}{{#each system.health.chp.mods}}{{#if this}}{{numberFormat this sign=true}}{{/if}}{{/each}} <i class="fas fa-edit"></i></a>
            </fieldset>
            <fieldset class="save">
                <a class="trait-edit" data-target-name="system.health.xhp" data-target-type="formula" data-tooltip="Edit Extended Hit Points Calculation">Extended HP: {{system.health.xhp.display}}{{#each system.health.xhp.mods}}{{#if this}}{{numberFormat this sign=true}}{{/if}}{{/each}} <i class="fas fa-edit"></i></a>
            </fieldset>
            <fieldset class="save">
                <a class="trait-edit" data-target-name="system.ml" data-target-type="formula" data-tooltip="Edit Mental Limit Calculation Calculation">Mental Limit: {{system.ml.display}}{{#each system.ml.mods}}{{#if this}}{{numberFormat this sign=true}}{{/if}}{{/each}} <i class="fas fa-edit"></i></a>
            </fieldset>
            <fieldset class="save">
                <a class="trait-edit" data-target-name="system.stats.carrying" data-target-type="formula" data-tooltip="Edit Carrying Capacity Calculation">Carrying Capacity: {{system.stats.carrying.display}}{{#each system.stats.carrying.mods}}{{#if this}}{{numberFormat this sign=true}}{{/if}}{{/each}} <i class="fas fa-edit"></i></a>
            </fieldset>
            <fieldset class="save">
                <a class="trait-edit" data-target-name="system.stats.bab" data-target-type="mod" data-tooltip="Edit Base Attack Bonus">Base Attack Bonus: {{numberFormat system.stats.bab.value sign=true}} <i class="fas fa-edit"></i></a>
            </fieldset>
            <fieldset class="save">
                <a class="trait-edit" data-target-name="system.stats.recoil" data-target-type="mod" data-tooltip="Edit Recoil Reduction">Recoil Reduction: {{numberFormat system.stats.recoil.value sign=true}} <i class="fas fa-edit"></i></a>
            </fieldset>
            <fieldset class="save">
                <a class="trait-edit" data-target-name="system.stats.init" data-target-type="mod" data-tooltip="Edit Initiative Bonus">Initiative Bonus: {{numberFormat system.stats.init.value sign=true}} <i class="fas fa-edit"></i></a>
            </fieldset>
            <select class="flex-group-center" name="system.stats.wager" data-dtype="Number">
                {{selectOptions wagers selected=system.stats.wager nameAttr="value" labelAttr="label"}}
            </select>
        </div>
</div>
<fieldset class="collapse-parent">
    <legend class="resource-label">
        Character Option Point Results <a class="create-cop" data-tooltip="Spend C.O.P.s"><i class="fas fa-plus"></i></a> <a data-tooltip="Toggle Character Option Point Display"><i class="fas fa-list collapse-toggle" data-collapse="cops"></i></a>
    </legend>
    <ol class="items-list item-list flex-group-center cops {{#if collapses.cops}}collapse{{/if}}">
        {{#each system.cops}}
        <li class="item grid grid-12col flex-group-center">
            <input class="grid-span-2" type="text" name="system.cops.{{@index}}.label" value="{{this.label}}" data-dtype="String" placeholder="Level">
            <div class="grid-span-9 flex-group-center">
                <div class="grid grid-10col flex-group-center">
                    <span>XHP</span>
                    <input type="text" name="system.cops.{{@index}}.xhp" value="{{this.xhp}}" data-dtype="Number" placeholder="0">
                    <span>Fort</span>
                    <input type="text" name="system.cops.{{@index}}.fortitude" value="{{this.fortitude}}" data-dtype="Number" placeholder="0">
                    <span>Reflex</span>
                    <input type="text" name="system.cops.{{@index}}.reflex" value="{{this.reflex}}" data-dtype="Number" placeholder="0">
                    <span>Will</span>
                    <input type="text" name="system.cops.{{@index}}.will" value="{{this.will}}" data-dtype="Number" placeholder="0">
                    <span>Skill</span>
                    <input type="text" name="system.cops.{{@index}}.skills" value="{{this.skills}}" data-dtype="Number" placeholder="0">
                </div>
            </div>          
            <div class="flex-group-center">
                <a class="delete-cop" data-target="{{@index}}" data-tooltip="Delete C.O.P. Entry"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</fieldset>
<fieldset>
    <legend class="resource-label">
        Traits and Feats <a class="item-control item-create" data-tooltip="Create Feature" data-type="feature"><i class="fas fa-plus"></i></a>
    </legend>
    <ol class="items-list item-list">
        {{#each traits as |item id|}}
        <li class="item grid grid-3col flex-group-left item-context" data-item-id="{{item._id}}">
            <div class="item-name flexrow">
                <img class="item-image" src="{{item.img}}">
                <a class="item-control item-edit" data-item-id="{{item._id}}" data-tooltip="Edit Trait"><i class="fas fa-edit"></i> {{item.name}}</a>
            </div>
            <i class="grid-span-2">{{item.system.summary}}</i>
        </li>
        {{/each}}
    </ol>
</fieldset>