<div class="grid grid-3col">
  <fieldset class="grid-span-2">
    <legend class="resource-label">
      Defense Modifiers
    </legend>
    <div class="grid grid-4col flex-group-center">
      <span>Miscellaneous</span>
      <div class="flexrow">
        <input type="text" value="{{numberFormat system.def.misc.value sign=true}}" data-dtype="Number" readonly/>
        <input type="text" name="system.def.misc.misc" value="{{system.def.misc.misc}}" data-dtype="Number" placeholder="0"/>
      </div>      
      <span>Movement</span>
      <input type="text" name="system.def.move" value="{{system.def.move}}" data-dtype="Number" placeholder="+1/5' over 20'"/>
      <span>Equipment</span>
      <div class="flexrow">
        <input type="text" value="{{numberFormat system.def.equip.value sign=true}}" data-dtype="Number" readonly/>
        <input type="text" name="system.def.equip.misc" value="{{system.def.equip.misc}}" data-dtype="Number" placeholder="0"/>
      </div>    
      <span>Size</span>
      <input type="text" name="system.def.size" value="{{system.def.size}}" data-dtype="Number" placeholder="0"/>        
      <span>Dodge</span>
      <div class="flexrow">
        <input type="text" value="{{numberFormat system.def.dodge.value sign=true}}" readonly>
        <input type="text" name="system.def.dodge.misc" value="{{system.def.dodge.misc}}" data-dtype="Number" placeholder="0"/>
      </div>
    </div>
  </fieldset>
  <fieldset>
    <legend class="resource-label">
      Defense Impacts
    </legend>
    <div class="grid grid-2col flex-group-center">
      <span>Max Agility</span>
      <input type="text" value="{{#if system.stats.agiMax includeZero=true}}{{numberFormat system.stats.agiMax sign=true}}{{/if}}" data-dtype="Number" placeholder="n/A" readonly/>
      <span>Armor Penalty</span>
      <input type="text" value="{{numberFormat system.stats.armorPenalty.value sign=true}}{{#if system.stats.armorNoProf}} / {{numberFormat system.stats.armorNoProf sign=true}}{{/if}}" data-dtype="Number" readonly/>
      <span>CP Loss</span>
      <input type="text" value="{{system.cp.armor.value}} CP to move" data-dtype="Number" readonly/>
    </div>
  </fieldset>
</div>
<fieldset>
  <legend class="resource-label">
      Extremity Damage
  </legend>
  <div class="grid grid-10col flex-group-center">
      <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.head" data-tooltip="Toggle Limb">Head <i class="fas fa-user{{#if system.health.extremity.head}}-injured jammed{{/if}}"></i></a>
      <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.leftArm" data-tooltip="Toggle Limb">L Arm <i class="fas fa-user{{#if system.health.extremity.leftArm}}-injured jammed{{/if}}"></i></a>
      <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.leftHand" data-tooltip="Toggle Limb">L Hand <i class="fas fa-user{{#if system.health.extremity.leftHand}}-injured jammed{{/if}}"></i></a>
      <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.rightArm" data-tooltip="Toggle Limb">R Arm <i class="fas fa-user{{#if system.health.extremity.rightArm}}-injured jammed{{/if}}"></i></a>
      <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.rightHand" data-tooltip="Toggle Limb">R Hand <i class="fas fa-user{{#if system.health.extremity.rightHand}}-injured jammed{{/if}}"></i></a>
      <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.leftLeg" data-tooltip="Toggle Limb">L Leg <i class="fas fa-user{{#if system.health.extremity.leftLeg}}-injured jammed{{/if}}"></i></a>
      <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.leftFoot" data-tooltip="Toggle Limb">L Foot <i class="fas fa-user{{#if system.health.extremity.leftFoot}}-injured jammed{{/if}}"></i></a>
      <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.rightLeg" data-tooltip="Toggle Limb">R Leg <i class="fas fa-user{{#if system.health.extremity.rightLeg}}-injured jammed{{/if}}"></i></a>
      <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.rightFoot" data-tooltip="Toggle Limb">R Foot <i class="fas fa-user{{#if system.health.extremity.rightFoot}}-injured jammed{{/if}}"></i></a>
      <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.other" data-tooltip="Toggle Limb">Other <i class="fas fa-user{{#if system.health.extremity.other}}-injured jammed{{/if}}"></i></a>
  </div>
</fieldset>
<fieldset>
  <legend class="resource-label">
    Damage and Hit Points
  </legend>
  <ol class="items-list flex-group-center">
    <li class="grid grid-8col flex-group-center">
      <a class="actor-bleed resource-label" data-tooltip="Roll Bleed Dice and add to incoming damage">Bleed <i class="fas fa-tint"></i></a>
      <input class="resource-delta" type="text" data-target="system.health.bleed" value="{{system.health.bleed}}" data-dtype="Number"/>
      <span>Incoming</span>
      <input class="grid-span-2 resource-delta" type="text" data-target="system.health.incoming" value="{{system.health.incoming}}" data-dtype="String" placeholder="Damage"/>
      <span>XHP</span>
      <input type="text" value="{{system.health.xhp.value}}/{{system.health.xhp.max}}" readonly>
      <a class="item-control apply-damage" data-tooltip="Apply Damage to Extended Hit Points" data-target="xhp"><i class="fas fa-prescription-bottle-alt"></i></a>
    </li>
    <li class="grid grid-8col flex-group-center">
      <input class="grid-span-5" type="text" name="system.health.notes" value="{{system.health.notes}}" data-dtype="String" placeholder="Medical Notes"/>
      <span>CHP</span>
      <input type="text" value="{{system.health.chp.value}}/{{system.health.chp.max}}" readonly>
      <a class="item-control apply-damage" data-tooltip="Apply Damage to Core Hit Points" data-target="chp"><i class="fas fa-heartbeat"></i></a>
    </li>
  </ol>
</fieldset>
{{#each armors}}
<fieldset>
  <legend class="resource-label">
    {{this.label}} <a class="item-control item-create" data-tooltip="Create {{this.label}}" data-type="armor" data-layer={{@key}} data-active="true"><i class="fas fa-plus"></i></a>
  </legend>
  <ol class="items-list flex-group-center">
    {{#each this.items}}
    <li class="item grid grid-8col flex-group-center" data-item-id="{{this._id}}">
      <div class="grid-span-2 flex-group-left">
          <a class="item-control item-edit item-context" data-item-id="{{this._id}}" data-tooltip="Edit Item"><i class="fas fa-edit"></i> {{this.name}}</a>
      </div>
      <select class="grid-span-4 item-input" data-target-prop="system.activeDR" data-target-id="{{this._id}}" data-tooltip="Select Damage Reduction" value="{{this.system.activeDR}}" data-dtype="String">
        {{#select this.system.activeDR}}
          <option value="None">None</option>
          {{#each this.system.protection}}
          <option value="{{@key}}">{{this.value}}/ {{this.name}}</option>
          {{/each}}
        {{/select}}        
      </select>
      {{#if this.system.ap.max}}
      <div class="flexrow flex-group-center resource-label" data-tooltip="{{#if (eq @../key 'shield')}}Shield Soak{{else}}Armor Points{{/if}}">
        <input type="text" class="item-input flex3" data-target-prop="system.ap.value" data-target-id="{{this._id}}" value="{{this.system.ap.value}}" data-dtype="Number"/>
        <span>/</span>
        <input type="text" class="flex3" name="this.system.ap.max" value="{{this.system.ap.max}}" data-dtype="Number" readonly/>          
      </div>
      {{else}}
      <input  type="text" value="n/A" data-tooltip="Flat Reduction" readonly>
      {{/if}}
      <a class="grid-start-8 item-control apply-damage" data-tooltip="Apply Damage to {{this.name}}" data-target="{{this._id}}"><i class="{{../icon}}"></i></a>
    </li>
    {{/each}}
  </ol>
</fieldset>
{{/each}}