<div class="grid grid-4col">
  <fieldset class="grid-span-2">
    <legend class="resource-label">
      Money
    </legend>
    <div class="grid grid-9col flex-group-center">
      <span class="grid-span-3">Wealth Points</span>
      <input class="grid-span-2 resource-delta" data-target="system.wealth.wp.cash" value="{{system.wealth.wp.cash}}" type="text" data-dtype="String" placeholder="Cash">
      <input class="grid-span-2 resource-delta" data-target="system.wealth.wp.credit" value="{{system.wealth.wp.credit}}" type="text" data-dtype="String" placeholder="Credit">
      <input class="grid-span-2 resource-delta" data-target="system.wealth.wp.misc" value="{{system.wealth.wp.check}}" type="text" data-dtype="String" placeholder="Check">
      <a class="grid-span-3 rollable resource-label" data-roll="{{system.wealth.wp.income}}" data-label="Payday" data-tooltip="Roll Paycheck">Income <i class="fas fa-money-check-alt"></i></a>
      <input class="grid-span-6" name="system.wealth.wp.income" value="{{system.wealth.wp.income}}" type="text" data-dtype="String">
      <input class="grid-span-9" name="system.wealth.wp.notes" value="{{system.wealth.wp.notes}}" type="text" data-dtype="String" placeholder="Notes">
    </div>
  </fieldset>
  <fieldset>
    <legend class="resource-label">
      Encumbrance
    </legend>
    <div class="grid grid-2col flex-group-center">
      <span>Light</span>
      <input type="text" value="{{system.stats.carrying.light}} lbs" readonly>
      <span>Medium</span>
      <input type="text" value="{{system.stats.carrying.medium}} lbs" readonly>
      <span>Heavy</span>
      <input type="text" value="{{system.stats.carrying.heavy}} lbs" readonly>
    </div>
  </fieldset>
  <fieldset>
    <legend class="resource-label">
      Capital
    </legend>
    <div class="grid grid-2col flex-group-center">
      <span>Personal</span>
      <input value="{{system.wealth.capital.personal.value}}" type="text" data-dtype="Number" readonly>
      <span>External</span>
      <input name="system.wealth.capital.external.value" value="{{system.wealth.capital.external.value}}" type="text" data-dtype="Number" placeholder="Total">
      <span>Hard</span>
      <div class="flexrow">
        <input type="text" name="system.wealth.capital.personal.hard" value="{{system.wealth.capital.personal.hard}}" data-dtype="Number" placeholder="Per">
        <input type="text" name="system.wealth.capital.external.hard" value="{{system.wealth.capital.external.hard}}" data-dtype="Number" placeholder="Ext">
      </div>
    </div>
  </fieldset>
</div>
{{> "systems/opsandtactics/templates/actor/parts/nested-gear.html"}}
<fieldset>
  <legend class="resource-label">
    Asset Notes
  </legend>
  <div>
    {{editor enrichGear target="system.wealth.description" rollData=rollData button=true owner=owner editable=editable engine="prosemirror"}}
  </div>
</fieldset>