<section class="grid grid-4col">
  <aside class="sidebar">
    {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
    use both the "grid" and "grid-Ncol" class where "N" can be any number
    from 1 to 12 and will create that number of columns.  --}}
    <fieldset>
      <legend class="resource-label">Abilities & Saves</legend>
      <div class="abilities flex-group-center grid grid-4col">
        {{#each system.abilities as |ability|}}
        <fieldset class="save grid-span-4">
          <div class="grid grid-2col flex-group-center">
            <a class="resource-label actor-action-dash" data-check-id="{{@key}}" data-tooltip="{{localize (concat 'OATS.abilities.' @key)}} Roll">{{localize (concat "OATS.abilityShort." @key)}} {{numberFormat ability.mod sign=true}}</a>
            <a class="trait-edit action-legend" data-target-name="system.abilities.{{@key}}">{{ability.score}} <i class="fas fa-edit"></i></a>            
            {{#if (eq @key 'str')}}
            <a class="resource-label actor-action-dash" data-check-id="foc" data-tooltip="{{localize 'OATS.abilities.foc'}} Roll">{{localize "OATS.abilityShort.foc"}} {{numberFormat ability.foc sign=true}}</a>
            <a class="resource-label  actor-action-dash" data-check-id="pow" data-tooltip="{{localize 'OATS.abilities.pow'}} Roll">{{localize "OATS.abilityShort.pow"}} {{numberFormat ability.pow sign=true}}</a>
            {{/if}}
            {{#if (eq @key 'dex')}}
            <a class="resource-label  actor-action-dash" data-check-id="mrk" data-tooltip="{{localize 'OATS.abilities.mrk'}} Roll">{{localize "OATS.abilityShort.mrk"}} {{numberFormat ability.mrk sign=true}}</a>
            <a class="resource-label  actor-action-dash" data-check-id="agi" data-tooltip="{{localize 'OATS.abilities.agi'}} Roll">{{localize "OATS.abilityShort.agi"}} {{numberFormat ability.agi sign=true}}</a>
            {{/if}}
          </div>
        </fieldset>
        {{/each}}
        {{#if false}}
        {{#each system.abilities as |ability|}}
        <a class="resource-label actor-action-dash" data-check-id="{{@key}}" data-tooltip="{{localize (concat 'OATS.abilities.' @key)}} Roll">{{localize (concat "OATS.abilityShort." @key)}}</a>
        {{#if ../collapses.edit}}
        <input type="text" name="system.abilities.{{@key}}.score" value="{{lookup (lookup @root.actor._source.system.abilities @key) 'score'}}" data-dtype="Number"/>
        {{else}}
        <input type="text" value="{{ability.score}}" readonly/>        
        {{/if}}        
        <input class="grid-start-4" type="text" name="system.abilities.{{@key}}.mod" value="{{numberFormat ability.mod sign=true}}" data-dtype="Number" readonly/>
        {{#if (eq @key "str")}}
          <a class="resource-label actor-action-dash" data-check-id="foc" data-tooltip="{{localize 'OATS.abilities.foc'}} Roll">{{localize "OATS.abilityShort.foc"}}</a>
          {{#if ../collapses.edit}}
          <input type="text" name="system.abilities.str.foc" value="{{numberFormat @root.actor._source.system.abilities.str.foc sign=true}}" data-dtype="Number"/>        
          {{else}}
          <input type="text" value="{{numberFormat ability.foc sign=true}}" readonly/>
          {{/if}}
          <a class="resource-label actor-action-dash" data-check-id="pow" data-tooltip="{{localize 'OATS.abilities.pow'}} Roll">{{localize "OATS.abilityShort.pow"}}</a>
          <input type="text" value="{{numberFormat ability.pow sign=true}}" readonly/>
        {{/if}}
        {{#if (eq @key "dex")}}
          <a class="resource-label actor-action-dash" data-check-id="mrk" data-tooltip="{{localize 'OATS.abilities.mrk'}} Roll">{{localize "OATS.abilityShort.mrk"}}</a>
          {{#if ../collapses.edit}}
          <input type="text" name="system.abilities.dex.mrk" value="{{numberFormat @root.actor._source.system.abilities.dex.mrk sign=true}}" data-dtype="Number"/>        
          {{else}}
          <input type="text" value="{{numberFormat ability.mrk sign=true}}" readonly/>
          {{/if}}
          <a class="resource-label actor-action-dash" data-check-id="agi" data-tooltip="{{localize 'OATS.abilities.agi'}} Roll">{{localize "OATS.abilityShort.agi"}}</a>
          <input type="text" class="{{@root.agiLimited}}" value="{{numberFormat ability.agi sign=true}}" readonly data-tooltip="{{#if (eq @root.agiLimited 'agi-limited')}}Reduced by active armor{{/if}}"/>
        {{/if}}
        {{/each}}   
        {{/if}}     
      </div>
      <fieldset class="save grid-span-4">
        <div class="grid grid-5col flex-group-center">
          <a class="resource-label actor-action-dash grid-span-4" data-check-id="grapple" data-tooltip="Grapple Roll">Grapple {{numberFormat system.stats.grapple.value sign=true}}</a>
          <a class="trait-edit action-legend" data-target-name="system.stats.grapple"><i class="fas fa-edit"></i></a>
        </div>
      </fieldset>
      <fieldset class="save grid-span-4">
        <div class="grid grid-5col flex-group-center">
          {{#each system.saves as |save|}}          
          <a class="resource-label actor-action-dash grid-span-4" data-check-id="{{@key}}" data-tooltip="{{localize (concat 'OATS.saves.' @key)}} Roll">{{localize (concat "OATS.saves." @key)}} {{numberFormat save.value sign=true}}</a>
          <a class="trait-edit action-legend" data-target-name="system.saves.{{@key}}"><i class="fas fa-edit"></i></a>          
          {{/each}}
        </div>
      </fieldset>
    </fieldset>
    <fieldset>
      <legend class="resource-label">
        Saving Throws
      </legend>
        {{#each system.saves as |save|}}
          <fieldset class="save flex-group-center collapse-parent">
            <a class="resource-label actor-action-dash" data-check-id="{{@key}}" data-tooltip="{{localize (concat 'OATS.saves.' @key)}} Roll">{{numberFormat save.value sign=true}} {{localize (concat "OATS.saves." @key)}}</a> <a data-tooltip="Toggle Modifier Display"><i class="fas fa-list collapse-toggle" data-collapse="{{@key}}"></i></a>
            <div class="{{@key}} {{#if (lookup ../collapses @key)}}collapse{{/if}}">
              <div class="grid grid-3col flex-group-center">
                <span>Base</span>
                <div class="grid-span-2 flexrow flex-group-center">
                  <input class="flex3" type="text" value="{{save.base}}" readonly/>
                  <span>x</span>
                  <input class="flex3" type="text" name="system.saves.{{@key}}.mult" value="{{save.mult}}" data-dtype="Number"/>
                </div>
                <span>Misc</span>
                <input class="grid-span-2" type="text" name="system.saves.{{@key}}.mods.misc" value="{{save.mods.misc}}" data-dtype="Number"/>
              </div>
            </div>
          </fieldset>
        {{/each}}
    </fieldset>
  </aside>

  {{!-- For the main features list, span the right two columns --}}
  <section class="main grid-span-3">
    {{!-- This is a Handlebars partial. They're stored in the `/parts` folder next to this sheet, and defined in module/helpers/templates.mjs --}}
    <fieldset>
      <legend class="resource-label">
        Skills [{{system.stats.skills.spent}}/{{system.stats.skills.points}}] <a class="item-control item-create" data-tooltip="Create skill" data-type="skill"><i class="fas fa-plus"></i></a> <a data-tooltip="Toggle Skill Bins"><i class="fas fa-list verbose-toggle" data-verbose="skills"></i></a>
      </legend>
      <ol class="skill-list">
        {{#each skills}}
        <fieldset>
          <legend class="resource-label">
            {{this.label}}
          </legend>
          {{#each this.items as |item id|}}
            <li class="item skill flex-group-center item-context" data-item-id="{{item._id}}">
              <fieldset>
                <a class="actor-action-dash resource-label" data-check-id="skill" data-item-id="{{item._id}}" data-tooltip="{{item.mods.label}}">{{item.name}} {{item.mods.total}}</a>
                <a class="item-control action-legend item-edit" data-item-id="{{item._id}}" data-tooltip="Edit Skill Item"><i class="fas fa-edit"></i></a>                
              </fieldset> 
            </li>
          {{/each}}
          </fieldset>
        {{/each}}     
    </fieldset>
  </section>

</section>