<fieldset class="collapse-parent">
    <legend class="resource-label">
        Mental Limit [{{system.magic.mlUsed}}/{{system.ml.max}}] <a data-tooltip="Toggle Mental Limit Display"><i class="fas fa-list collapse-toggle" data-collapse="mental"></i></a>
    </legend>
    <div class="mental grid grid-2col flex-group-center {{#if collapses.mental}}collapse{{/if}}">
        <fieldset class="save">
            <a class="trait-edit" data-target-name="system.magic.mods" data-target-type="mod" data-tooltip="Edit Miscellaneous Mental Limit Costs">Miscellaneous Costs: {{system.magic.mlMisc}} ML <i class="fas fa-edit"></i></a>
        </fieldset>
        <fieldset class="save">
            <span>Scribed Spells: {{system.magic.mlObject}} ML</span>
        </fieldset>
        <fieldset class="save">
            <label class="flexrow flex-group-center">
                <span>Psionic Focus: {{system.magic.mlPsion}} ML</span>
                <input name="system.magic.psionFocus" type="checkbox" {{checked system.magic.psionFocus}}/>
            </label>
        </fieldset>
        <fieldset class="save">
            <label class="flexrow flex-group-center">
                <span>{{system.magic.numRecipes}} Memorized Incantations: {{system.magic.mlRecipe}} ML</span>
                <input name="system.magic.invokerMemorize" type="checkbox" {{checked system.magic.invokerMemorize}}/>
            </label>
        </fieldset>
        <fieldset class="save">
            {{#if collapses.edit}}
            <div class="flexrow flex-group-center">
                <span>Temporary Capacity</span>
                <input type="text" name="system.ml.temp" value="{{system.ml.temp}}" data-dtype="Number" placeholder="0">   
            </div>
            {{else}}
            <span>Temporary Capacity: {{system.ml.temp}} ML</span>
            {{/if}}
        </fieldset>
        <fieldset class="save">
            {{#if collapses.edit}}
            <div class="flexrow flex-group-center">
                <a class="resource-label incant-regain" data-tooltip="Regain Mental Limit spent by Invoking">Used by Invoking <i class="fas fa-recycle"></i></a>
                <input type="text" name="system.magic.mlCant" value="{{system.magic.mlCant}}" data-dtype="Number" placeholder="Spent">
            </div>
            {{else}}
            <a class="resource-label incant-regain" data-tooltip="Regain Mental Limit spent by Invoking">Used by Invoking: {{system.magic.mlCant}} ML <i class="fas fa-recycle"></i></a>
            {{/if}}
        </fieldset>
    </div>
</fieldset>
{{> "systems/opsandtactics/templates/actor/parts/object-resources.html"}}
<fieldset class="collapse-parent">
    <legend class="resource-label">
        Character <a class="action-create" data-tooltip="Create Character Action"><i class="fas fa-plus"></i></a> <a data-tooltip="Toggle Character Action List Display"><i class="fas fa-list collapse-toggle" data-collapse="characterActions"></i></a>
    </legend>
    <ol class="items-list characterActions {{#if collapses.characterActions}}collapse{{/if}}">
        {{#each system.actions}}
        <li class="item grid grid-12col flex-group-center">
            <input class="grid-span-8" type="text" name="system.actions.{{@key}}.name" value="{{this.name}}" data-dtype="String" placeholder="Character Action">
            <a class="action-spend resource-label" data-check-id="{{@key}}" data-tooltip="Spend Action CP"><i class="fas fa-stopwatch"></i> CP</a>
            <div class="grid-span-2 flexrow flex-group-center">
                <input class="flex3" type="text" name="system.actions.{{@key}}.cost" value="{{this.cost}}" data-dtype="Number" placeholder="0">
                <i class="fas fa-times"></i>
                <input class="flex3" type="text" name="system.actions.{{@key}}.quantity" value="{{this.quantity}}" data-dtype="Number" placeholder="0?">
            </div>
            <div class="flex-group-center">
                <a class="action-delete" data-target="{{@key}}" data-tooltip="Delete Character Action"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</fieldset>
<fieldset class="collapse-parent">
    <legend class="resource-label">
        Objects <a data-tooltip="Toggle Object Utility List Display"><i class="fas fa-list collapse-toggle" data-collapse="objectUtility"></i></a>
    </legend>
    <ol class="items-list objectUtility {{#if collapses.objectUtility}}collapse{{/if}}">
        {{#each utilityObjects as |item id|}}
        <li class="item" data-item-id="{{item._id}}">
            <fieldset class="action-item">
                <legend class="action-legend item-context" data-item-id="{{item._id}}">
                    <a class="item-control item-edit" data-item-id="{{item._id}}" data-tooltip="Edit Item"><i class="fas fa-edit"></i> {{item.name}}</a>
                    <a class="item-control item-toggle" data-target-id="{{this._id}}" data-target-prop="system.minimized" data-tooltip="Minimize Item"><i class="{{#if this.system.minimized}}fas fa-eye{{else}}fas fa-eye-slash{{/if}}"></i></a>
                </legend>
                <div class="grid grid-10col action-pane {{#if item.system.minimized}}collapse{{/if}}">
                    <div class="grid-span-5 flex-group-center">
                        <div class="grid grid-5col flex-group-center">
                            <span>Range</span>
                            <input type="text" value="{{item.system.range}}" readonly>
                            {{#if (eq this.system.magazine.type 'unlimited')}}
                            <span class="grid-start-5"></span>
                            {{else}}
                            <a class="grid-start-5 resource-label resource-transfer" data-item-id="{{item._id}}" data-initial-id="{{item.system.magazine.source}}">Uses <i class="fa-solid fa-right-left"></i></a>
                            {{/if}}
                        </div>
                    </div>
                    {{#if (eq item.system.magazine.type "consumable")}}
                    <select class="grid-span-5 flex-group-center item-input" data-target-prop="system.magazine.source" data-target-id="{{item._id}}" data-dtype="String">
                        {{#select item.system.magazine.source}}
                        <option value="">Empty</option>
                        {{#each item.magazines}}
                        {{#if this.entries.length}}
                        <optgroup label="{{this.label}}">
                            {{selectOptions this.entries nameAttr="id" labelAttr="label"}}
                        </optgroup>
                        {{/if}}
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}
                    {{#if (eq item.system.magazine.type "unlimited")}}
                    <i class="grid-span-2 fas fa-infinity"></i>
                    {{/if}}
                    <ol class="grid-span-10 items-list flex-group-center">
                        {{#each item.system.actions}}
                        {{#if this.active}}
                        {{#if (eq this.type "utility")}}
                        <li class="item grid grid-5col">
                            <div class="grid-span-4 flexrow">
                                <a class="item-utility-dash resource-label flex-group-left" data-item-id="{{../_id}}" data-action-id="{{@key}}" data-tooltip="{{#if (eq this.check.type 'skill')}}Skill Check{{/if}}{{#if (eq this.check.type 'generic')}}Generic Check{{/if}}{{#if (eq this.check.type 'otherUtility')}}Other Roll{{/if}}{{#if (eq this.check.type 'noneUtility')}}Utility Message{{/if}}{{#if (eq this.check.type 'noChatUtility')}}Utility Resources{{/if}}">{{this.mods.checkTotal}} {{this.name}}</a>
                                <div class="flexcol flex2 flex-group-center">
                                    <a class="damage-roll resource-label" data-item-id="{{../_id}}" data-action-id="{{@key}}" data-good-bad="good" data-tooltip="Utility Roll">
                                        {{this.mods.effectGood.primaryLabel}}
                                    </a>
                                </div>
                            </div>
                            <span>{{this.mods.cpAmmoLabel}}</span>
                        </li>
                        {{/if}}
                        {{/if}}
                        {{/each}}
                    </ol>
                </div>
            </fieldset>            
        </li>
        {{/each}}
    </ol>    
</fieldset>
<fieldset class="collapse-parent">
    <legend class="resource-label">
        Magic <a class="item-control item-create" data-tooltip="Create Magic" data-type="magic"><i class="fas fa-plus"></i></a> <a data-tooltip="Toggle Magic List Display"><i class="fas fa-list collapse-toggle" data-collapse="magicUtility"></i></a>
    </legend>
    <ol class="items-list magicUtility {{#if collapses.magicUtility}}collapse{{/if}}">
        {{#each utilityMagic as |item id|}}
        <li class="item" data-item-id="{{item._id}}">
            <fieldset class="action-item">
                <legend class="action-legend item-context" data-item-id="{{item._id}}">
                    <a class="item-control item-edit" data-item-id="{{item._id}}" data-tooltip="Edit Item"><i class="fas fa-edit"></i> {{item.name}}</a>
                    <a class="item-control item-toggle" data-target-id="{{this._id}}" data-target-prop="system.minimized" data-tooltip="Minimize Item"><i class="{{#if this.system.minimized}}fas fa-eye{{else}}fas fa-eye-slash{{/if}}"></i></a>
                </legend>
                <div class="grid grid-10col action-pane flex-group-center {{#if item.system.minimized}}collapse{{/if}}">
                    <div class="grid-span-5 flex-group-center">
                        <div class="grid grid-5col flex-group-center">
                            <span>Range</span>
                            <input type="text" value="{{item.system.range}}" readonly>
                            {{#if (eq this.system.magazine.type 'unlimited')}}
                            <span class="grid-start-5"></span>
                            {{/if}}
                            {{#if (eq this.system.magazine.type 'magic')}}
                            <a class=" grid-start-4 grid-span-2 resource-label resource-transfer" data-item-id="{{item._id}}" data-initial-id="{{item.system.magazine.source}}">Charges <i class="fa-solid fa-right-left"></i></a>
                            {{/if}}
                            {{#if (eq item.system.magazine.type 'mental')}}
                            <span class="grid-start-4 grid-span-2">Mental Limit</span>
                            {{/if}}
                        </div>
                    </div>
                    {{#if (eq item.system.magazine.type "magic")}}
                    <select class="grid-span-5 flex-group-center item-input" data-target-prop="system.magazine.source" data-target-id="{{item._id}}" data-dtype="String">
                            {{selectOptions item.magazines.entries selected=item.system.magazine.source nameAttr="id" labelAttr="label" blank="Blank"}}
                    </select>
                    {{/if}}
                    {{#if (eq system.magazine.type "mental")}}
                    <div class="grid-span-4 flexrow flex-group-center">
                        <input type="text" class="flex3" value="{{@root.system.magic.mlUsed}}" data-dtype="Number" readonly/>
                        <span>/</span>
                        <input type="text" class="flex3" value="{{@root.system.ml.max}}" data-dtype="Number" readonly/>
                    </div>
                    {{/if}}
                    {{#if (eq item.system.magazine.type "unlimited")}}
                    <i class="grid-span-2 fas fa-infinity"></i>
                    {{/if}}
                    <ol class="grid-span-10 items-list flex-group-center">
                        {{#each item.system.actions}}
                        {{#if this.active}}
                        {{#if (eq this.type "utility")}}
                        <li class="item grid grid-5col">
                            <div class="grid-span-4 flexrow">
                                <a class="item-utility-dash resource-label flex-group-left" data-item-id="{{../_id}}" data-action-id="{{@key}}" data-tooltip="{{#if (eq this.check.type 'generic')}}Generic Check{{/if}}{{#if (eq this.check.type 'otherUtility')}}Other Roll{{/if}}{{#if (eq this.check.type 'noneUtility')}}Utility Message{{/if}}{{#if (eq this.check.type 'noChatUtility')}}Utility Resources{{/if}}">{{this.mods.checkTotal}} {{this.name}}</a>
                                <div class="flexcol flex2 flex-group-center">
                                    <a class="damage-roll resource-label" data-item-id="{{../_id}}" data-action-id="{{@key}}" data-good-bad="good" data-tooltip="Utility Roll">
                                        {{this.mods.effectGood.primaryLabel}}
                                    </a>
                                </div>
                            </div>
                            <span>{{this.mods.cpAmmoLabel}}</span>
                        </li>
                        {{/if}}
                        {{/if}}
                        {{/each}}
                    </ol>
                </div>
            </fieldset>            
        </li>
        {{/each}}
    </ol>    
</fieldset>