<div class="grid grid-5col">
    <fieldset class="grid-span-3">
        <legend class="resource-label">
            Formulae
        </legend>
        <div class="grid grid-6col flex-group-center">
            <span class="grid-span-2">Core HP</span>
            <input class="grid-span-3" type="text" name="system.health.chp.formula" value="{{system.health.chp.formula}}" data-dtype="String">
            <input type="text" name="system.health.chp.mods.misc" value="{{system.health.chp.mods.misc}}" placeholder="Misc" data-dtype="Number">
            <span class="grid-span-2">Extended HP</span>
            <input class="grid-span-3" type="text" name="system.health.xhp.formula" value="{{system.health.xhp.formula}}" data-dtype="String">
            <input type="text" name="system.health.xhp.mods.misc" value="{{system.health.xhp.mods.misc}}" placeholder="Misc" data-dtype="Number">
            <span class="grid-span-2">Mental Limit</span>
            <input class="grid-span-3" type="text" name="system.ml.formula" value="{{system.ml.formula}}" data-dtype="String">
            <input type="text" name="system.ml.mods.misc" value="{{system.ml.mods.misc}}" placeholder="Misc" data-dtype="Number">
            <span class="grid-span-2">Encumbrance</span>
            <input class="grid-span-3" type="text" name="system.stats.carrying.formula" value="{{system.stats.carrying.formula}}" data-dtype="String">
            <input type="text" name="system.stats.carrying.mods.misc" value="{{system.stats.carrying.mods.misc}}" placeholder="Misc" data-dtype="Number">
        </div>
    </fieldset>
    <fieldset class="grid-span-2">
        <legend class="resource-label">
            Modifiers
        </legend>
        <div class="grid grid-4col flex-group-center">
            <span class="grid-span-2">Base Attack</span>
            <input type="text" value="{{numberFormat system.stats.bab.value sign=true}}" readonly>
            <input type="text" name="system.stats.bab.misc" value="{{system.stats.bab.misc}}" placeholder="Misc" data-dtype="Number">
            <span class="grid-span-2">Initiative</span>
            <input type="text"value="{{numberFormat system.stats.init.value sign=true}}" readonly>
            <input type="text" name="system.stats.init.misc" value="{{system.stats.init.misc}}" placeholder="Misc" data-dtype="Number">
            <select class="grid-span-4 flex-group-center" name="system.stats.wager" data-dtype="Number">
                {{selectOptions wagers selected=system.stats.wager nameAttr="value" labelAttr="label"}}
            </select>
            <span class="grid-span-2">Recoil</span>
            <input type="text"value="{{numberFormat system.stats.recoil.value sign=true}}" readonly>
            <input type="text" name="system.stats.recoil.misc" value="{{system.stats.recoil.misc}}" placeholder="Misc" data-dtype="Number">
        </div>
    </fieldset>
</div>
<fieldset class="collapse-parent">
    <legend class="resource-label">
        Character Option Point Results <a class="create-cop" data-tooltip="Spend C.O.P.s"><i class="fas fa-plus"></i></a> <a data-tooltip="Toggle Character Option Point Display"><i class="fas fa-list collapse-toggle" data-collapse="cops"></i></a>
    </legend>
    <ol class="items-list item-list flex-group-center cops {{#if collapses.cops}}collapse{{/if}}">
        {{#each system.cops}}
        <li class="item grid grid-12col flex-group-center">
            <input class="grid-span-2" type="text" name="system.cops.{{@index}}.label" value="{{this.label}}" data-dtype="String" placeholder="Level">
            <div class="grid-span-9 flex-group-center">
                <div class="grid grid-10col flex-group-center">
                    <span>XHP</span>
                    <input type="text" name="system.cops.{{@index}}.xhp" value="{{this.xhp}}" data-dtype="Number" placeholder="0">
                    <span>Fort</span>
                    <input type="text" name="system.cops.{{@index}}.fortitude" value="{{this.fortitude}}" data-dtype="Number" placeholder="0">
                    <span>Reflex</span>
                    <input type="text" name="system.cops.{{@index}}.reflex" value="{{this.reflex}}" data-dtype="Number" placeholder="0">
                    <span>Will</span>
                    <input type="text" name="system.cops.{{@index}}.will" value="{{this.will}}" data-dtype="Number" placeholder="0">
                    <span>Skill</span>
                    <input type="text" name="system.cops.{{@index}}.skills" value="{{this.skills}}" data-dtype="Number" placeholder="0">
                </div>
            </div>          
            <div class="flex-group-center">
                <a class="delete-cop" data-target="{{@index}}" data-tooltip="Delete C.O.P. Entry"><i class="fas fa-trash"></i></a>
            </div>
        </li>
        {{/each}}
    </ol>
</fieldset>
<fieldset>
    <legend class="resource-label">
        Traits and Feats <a class="item-control item-create" data-tooltip="Create Feature" data-type="feature"><i class="fas fa-plus"></i></a>
    </legend>
    <ol class="items-list item-list">
        {{#each traits as |item id|}}
        <li class="item grid grid-3col flex-group-left item-context" data-item-id="{{item._id}}">
            <div class="item-name flexrow">
                <img class="item-image" src="{{item.img}}">
                <a class="item-control item-edit" data-item-id="{{item._id}}" data-tooltip="Edit Trait"><i class="fas fa-edit"></i> {{item.name}}</a>
            </div>
            <i class="grid-span-2">{{item.system.summary}}</i>
        </li>
        {{/each}}
    </ol>
</fieldset>