<fieldset class=collapse-parent>
    <legend class="resource-label">
        Weapons <a class="item-control item-create" data-tooltip="Create Weapon" data-type="weapon"><i class="fas fa-plus"></i></a> <a data-tooltip="Toggle Weapons List Display"><i class="fas fa-list collapse-toggle" data-collapse="weapons"></i></a>
    </legend>
    <ol class="items-list weapons {{#if collapses.weapons}}collapse{{/if}}">
        {{#each weapons as |item id|}}
        <li class="item" data-item-id="{{item._id}}">
            <fieldset class="action-item">
                <legend class="action-legend item-context" data-item-id="{{item._id}}">
                    <a class="item-control item-edit" data-item-id="{{item._id}}" data-tooltip="Edit Item"><i class="fas fa-edit"></i> {{item.name}}</a>
                    <a class="item-control item-toggle" data-target-id="{{this._id}}" data-target-prop="system.minimized" data-tooltip="Minimize Item"><i class="{{#if this.system.minimized}}fas fa-eye{{else}}fas fa-eye-slash{{/if}}"></i></a>
                </legend>
                <div class="grid grid-10col action-pane flex-group-center {{#if item.system.minimized}}collapse{{/if}}">
                    <div class="grid-span-4 flex-group-center">
                        <div class="grid grid-5col flex-group-center">
                            <span>Range</span>
                            <input type="text" value="{{item.system.range}}" readonly>
                            <a class="resource-label rollable" data-roll="1d100" data-label="{{this.name}} {{item.system.error}}% Error Range" data-tooltip="Roll for Jam Potential">Error</a>
                            <input type="text" value="{{item.system.error}}%" readonly>
                            <span>{{#if (eq this.system.magazine.type 'coolant')}}Heat{{else}}Ammo{{/if}}</span>
                        </div>
                    </div>
                    
                    {{#if (or (eq item.system.magazine.type "consumable") (eq item.system.magazine.type "cartridge"))}}
                    <select class="grid-span-6 flex-group-center item-input" data-target-prop="system.magazine.source" data-target-id="{{item._id}}" data-dtype="String">
                        {{#select item.system.magazine.source}}
                        <option value="">Unloaded</option>
                        {{#each item.magazines}}
                        {{#if this.entries.length}}
                        <optgroup label="{{this.label}}">
                            {{selectOptions this.entries nameAttr="id" labelAttr="label"}}
                        </optgroup>
                        {{/if}}
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}
                    {{#if (eq item.system.magazine.type "coolant")}}
                    <div class="grid-span-6 flexrow flex-group-center">
                        <select class="flex3 flex-group-center item-input" data-target-prop="system.magazine.source" data-target-id="{{item._id}}" data-dtype="String">
                            {{#select item.system.magazine.source}}
                            <option value="">Uncooled</option>
                            {{#each item.magazines}}
                            {{#if this.entries.length}}
                            <optgroup label="{{this.label}}">
                                {{selectOptions this.entries nameAttr="id" labelAttr="label"}}
                            </optgroup>
                            {{/if}}
                            {{/each}}
                            {{/select}}
                        </select>
                        <span class="flex0">/</span>
                        <input type="text" class="flex1" value="{{item.system.magazine.heatBase}}" data-dtype="Number" readonly/>
                    </div>
                    {{/if}}
                    {{#if (eq item.system.magazine.type "unlimited")}}
                    <i class="grid-start-7 grid-span-2 fas fa-infinity"></i>
                    {{/if}}
                    <ol class="grid-span-10 items-list flex-group-center">
                        {{#each item.system.actions}}
                        {{#if this.active}}
                        <li class="item grid grid-5col">
                            <div class="grid-span-4 flexrow">
                                <a class="item-attack-dash resource-label flex-group-left" data-item-id="{{../_id}}" data-action-id="{{@key}}" data-tooltip="{{#if (or (eq this.check.type 'melee') (eq this.check.type 'ranged'))}}Attack Roll{{/if}}{{#if (eq this.check.type 'noneAttack')}}Attack Message{{/if}}{{#if (eq this.check.type 'noChatAttack')}}Attack Resources{{/if}}">{{this.mods.checkTotal}} {{this.name}}</a>
                                <div class="flexcol flex2 flex-group-center">
                                    <a class="damage-roll resource-label" data-item-id="{{../_id}}" data-action-id="{{@key}}" data-good-bad="good" data-tooltip="{{#if this.mods.effectBad.primary}}Good {{/if}}Damage Roll">
                                        {{#if (or this.mods.effectGood.secondary this.mods.effectGood.extra)}}
                                        ({{this.mods.effectGood.primaryLabel}}) 
                                        {{else}}
                                        {{this.mods.effectGood.primaryLabel}}
                                        {{/if}}
                                        {{#if this.mods.effectGood.secondary}}
                                        , ({{this.mods.effectGood.secondaryLabel}})
                                        {{/if}}                                        
                                        {{#if this.mods.effectGood.extra}}
                                        , ({{this.mods.effectGood.extraLabel}})
                                        {{/if}}     
                                    </a>
                                    <a class="damage-roll resource-label" data-item-id="{{../_id}}" data-action-id="{{@key}}" data-good-bad="bad" data-tooltip="Bad Damage Roll">
                                        {{#if (and this.mods.effectBad.primary (or this.mods.effectBad.secondary this.mods.effectBad.extra))}}
                                        ({{this.mods.effectBad.primaryLabel}}) 
                                        {{else}}
                                        {{this.mods.effectBad.primaryLabel}}
                                        {{/if}}
                                        {{#if this.mods.effectBad.secondary}}
                                        , ({{this.mods.effectBad.secondaryLabel}})
                                        {{/if}}                                        
                                        {{#if this.mods.effectBad.extra}}
                                        , ({{this.mods.effectBad.extraLabel}})
                                        {{/if}}  
                                    </a>
                                </div>

                            </div>
                            <span>{{this.mods.cpAmmoLabel}}</span>
                        </li>
                        {{/if}}
                        {{/each}}
                    </ol>
                </div>
            </fieldset>
        </li>
        {{/each}}
    </ol>
</fieldset>
<fieldset class="collapse-parent">
    <legend class="resource-label">
        Objects <a data-tooltip="Toggle Object Attack List Display"><i class="fas fa-list collapse-toggle" data-collapse="objectAttacks"></i></a>
    </legend>
    <ol class="items-list objectAttacks {{#if collapses.objectAttacks}}collapse{{/if}}">
        {{#each attackObjects as |item id|}}
        <li class="item" data-item-id="{{item._id}}">
            <fieldset class="action-item">
                <legend class="action-legend item-context" data-item-id="{{item._id}}">
                    <a class="item-control item-edit" data-item-id="{{item._id}}" data-tooltip="Edit Item"><i class="fas fa-edit"></i> {{item.name}}</a>
                    <a class="item-control item-toggle" data-target-id="{{this._id}}" data-target-prop="system.minimized" data-tooltip="Minimize Item"><i class="{{#if this.system.minimized}}fas fa-eye{{else}}fas fa-eye-slash{{/if}}"></i></a>
                </legend>
                <div class="grid grid-10col action-pane {{#if item.system.minimized}}collapse{{/if}}">
                    <div class="grid-span-4 flex-group-center">
                        <div class="grid grid-5col flex-group-center">
                            <span>Range</span>
                            <input type="text" value="{{item.system.range}}" readonly>
                            <span class="grid-start-5">Uses</span>
                        </div>
                    </div>
                    {{#if (eq item.system.magazine.type "consumable")}}
                    <select class="grid-span-6 flex-group-center item-input" data-target-prop="system.magazine.source" data-target-id="{{item._id}}" data-dtype="String">
                        {{#select item.system.magazine.source}}
                        <option value="">Empty</option>
                        {{#each item.magazines}}
                        {{#if this.entries.length}}
                        <optgroup label="{{this.label}}">
                            {{selectOptions this.entries nameAttr="id" labelAttr="label"}}
                        </optgroup>
                        {{/if}}
                        {{/each}}
                        {{/select}}
                    </select>
                    {{/if}}
                    {{#if (eq item.system.magazine.type "unlimited")}}
                    <i class="grid-start-7 grid-span-2 fas fa-infinity"></i>
                    {{/if}}
                    <ol class="grid-span-10 items-list flex-group-center">
                        {{#each item.system.actions}}
                        {{#if this.active}}
                        {{#if (eq this.type "attack")}}
                        <li class="item grid grid-5col">
                            <div class="grid-span-4 flexrow">
                                <a class="item-attack-dash resource-label flex-group-left" data-item-id="{{../_id}}" data-action-id="{{@key}}" data-tooltip="{{#if (or (eq this.check.type 'melee') (eq this.check.type 'ranged'))}}Attack Roll{{/if}}{{#if (eq this.check.type 'noneAttack')}}Attack Message{{/if}}{{#if (eq this.check.type 'noChatAttack')}}Attack Resources{{/if}}">{{this.mods.checkTotal}} {{this.name}}</a>
                                <div class="flexcol flex2 flex-group-center">
                                    <a class="damage-roll resource-label" data-item-id="{{../_id}}" data-action-id="{{@key}}" data-good-bad="good" data-tooltip="Damage Roll">
                                        {{this.mods.effectGood.primaryLabel}}
                                    </a>
                                </div>
                            </div>
                            <span>{{this.mods.cpAmmoLabel}}</span>
                        </li>
                        {{/if}}
                        {{/if}}
                        {{/each}}
                    </ol>
                </div>
            </fieldset>            
        </li>
        {{/each}}
    </ol>
</fieldset>
<fieldset class="collapse-parent">
    <legend class="resource-label">
        Magic <a data-tooltip="Toggle Magic List Display"><i class="fas fa-list collapse-toggle" data-collapse="magicAttacks"></i></a>
    </legend>
    <ol class="items-list magicAttacks {{#if collapses.magicAttacks}}collapse{{/if}}">
        {{#each attackMagic as |item id|}}
        <li class="item" data-item-id="{{item._id}}">
            <fieldset class="action-item">
                <legend class="action-legend item-context" data-item-id="{{item._id}}">
                    <a class="item-control item-edit" data-item-id="{{item._id}}" data-tooltip="Edit Item"><i class="fas fa-edit"></i> {{item.name}}</a>
                    <a class="item-control item-toggle" data-target-id="{{this._id}}" data-target-prop="system.minimized" data-tooltip="Minimize Item"><i class="{{#if this.system.minimized}}fas fa-eye{{else}}fas fa-eye-slash{{/if}}"></i></a>
                </legend>
                <div class="grid grid-10col action-pane flex-group-center {{#if item.system.minimized}}collapse{{/if}}">
                    <div class="grid-span-4 flex-group-center">
                        <div class="grid grid-5col flex-group-center">
                            <span>Range</span>
                            <input type="text" value="{{item.system.range}}" readonly>
                            {{#unless (eq item.system.magazine.type "mental")}}
                            <span class="grid-start-5">Charges</span>
                            {{else}}
                            <span class="grid-start-4 grid-span-2">Mental Limit</span>
                            {{/unless}}
                        </div>
                    </div>
                    {{#if (eq item.system.magazine.type "magic")}}
                    <select class="grid-span-6 flex-group-center item-input" data-target-prop="system.magazine.source" data-target-id="{{item._id}}" data-dtype="String">
                            {{selectOptions item.magazines.entries selected=item.system.magazine.source nameAttr="id" labelAttr="label" blank="Blank"}}
                    </select>
                    {{/if}}
                    {{#if (eq system.magazine.type "mental")}}
                    <div class="grid-span-4 flexrow flex-group-center">
                        <input type="text" class="flex3" value="{{@root.system.magic.mlUsed}}" data-dtype="Number" readonly/>
                        <span>/</span>
                        <input type="text" class="flex3" value="{{@root.system.ml.max}}" data-dtype="Number" readonly/>
                    </div>
                    {{/if}}
                    {{#if (eq item.system.magazine.type "unlimited")}}
                    <i class="grid-start-7 grid-span-2 fas fa-infinity"></i>
                    {{/if}}
                    <ol class="grid-span-10 items-list flex-group-center">
                        {{#each item.system.actions}}
                        {{#if this.active}}
                        {{#if (eq this.type "attack")}}
                        <li class="item grid grid-5col">
                            <div class="grid-span-4 flexrow">
                                <a class="item-attack-dash resource-label flex-group-left" data-item-id="{{../_id}}" data-action-id="{{@key}}" data-tooltip="{{#if (or (eq this.check.type 'melee') (eq this.check.type 'ranged'))}}Attack Roll{{/if}}{{#if (eq this.check.type 'noneAttack')}}Attack Message{{/if}}{{#if (eq this.check.type 'noChatAttack')}}Attack Resources{{/if}}">{{this.mods.checkTotal}} {{this.name}}</a>
                                <div class="flexcol flex2 flex-group-center">
                                    <a class="damage-roll resource-label" data-item-id="{{../_id}}" data-action-id="{{@key}}" data-good-bad="good" data-tooltip="Damage Roll">
                                        {{this.mods.effectGood.primaryLabel}}
                                    </a>
                                </div>
                            </div>
                            <span>{{this.mods.cpAmmoLabel}}</span>
                        </li>
                        {{/if}}
                        {{/if}}
                        {{/each}}
                    </ol>
                </div>
            </fieldset>            
        </li>
        {{/each}}
    </ol>    
</fieldset>