{{#each nestedGear}}
<fieldset class="collapse-parent">
  <legend class="resource-label">
    {{this.label}} Items [{{#if (eq @root.actor.type "spacecraft")}}{{this.tons}} tons{{else}}{{this.pounds}} lbs{{/if}}] {{#if @first}}<a class="item-control item-create" data-tooltip="Create {{this.label}} item" data-type="object"><i class="fas fa-plus"></i></a>{{/if}} <a data-tooltip="Toggle {{this.label}} Item Display"><i class="fas fa-list collapse-toggle" data-collapse="{{@key}}"></i></a>
  </legend>
  <ol class="items-list flex-group-left {{@key}} {{#if (lookup ../collapses @key)}}collapse{{/if}}">
    {{#each this.children as |item id|}}
    <fieldset class="grid grid-9col nested-container">
      <li class="item grid-span-9 grid grid-9col flex-group-left item-context" data-item-id="{{item._id}}">
        <div class="grid-span-3 item-name flexrow">
          <img class="item-image" src="{{item.img}}">
          <a class="item-control item-edit" data-item-id="{{item._id}}" data-tooltip="Edit Item"><i class="fas fa-edit"></i> {{item.name}} {{#if (ne item.system.gear.quantity.value 1)}}[{{item.system.gear.quantity.value}}]{{/if}}</a>
        </div>
        <i class="grid-span-6">{{item.system.gear.location.note}}</i>  
      </li>
      {{#if item.children.length}}
      {{#each item.children as |item id|}}
        <fieldset class="grid grid-9col grid-start-2 grid-span-8 nested-container">
          <li class="item grid-span-9 grid grid-9col flex-group-left item-context" data-item-id="{{item._id}}">
            <div class="grid-span-3 item-name flexrow">
              <img class="item-image" src="{{item.img}}">
              <a class="item-control item-edit" data-item-id="{{item._id}}" data-tooltip="Edit Item"><i class="fas fa-edit"></i> {{item.name}} {{#if (ne item.system.gear.quantity.value 1)}}[{{item.system.gear.quantity.value}}]{{/if}}</a>
            </div>
            <i class="grid-span-6">{{item.system.gear.location.note}}</i>
          </li>
          {{#if item.children.length}}
          {{#each item.children as |item id|}}
            <fieldset class="grid grid-9col grid-start-2 grid-span-8 nested-container">
              <li class="item grid-span-9 grid grid-9col flex-group-left item-context"data-item-id="{{item._id}}">
                <div class="grid-span-3 item-name flexrow">
                  <img class="item-image" src="{{item.img}}">
                  <a class="item-control item-edit" data-item-id="{{item._id}}" data-tooltip="Edit Item"><i class="fas fa-edit"></i> {{item.name}} {{#if (ne item.system.gear.quantity.value 1)}}[{{item.system.gear.quantity.value}}]{{/if}}</a>
                </div>
                <i class="grid-span-6">{{item.system.gear.location.note}}</i>
              </li>
              {{#if item.children.length}}
              {{#each item.children as |item id|}}
                <fieldset class="grid grid-9col grid-start-2 grid-span-8 nested-container">
                <li class="item grid-span-9 grid grid-9col flex-group-left item-context" data-item-id="{{item._id}}">
                  <div class="grid-span-3 item-name flexrow">
                    <img class="item-image" src="{{item.img}}">
                    <a class="item-control item-edit" data-item-id="{{item._id}}" data-tooltip="Edit Item"><i class="fas fa-edit"></i> {{item.name}} {{#if (ne item.system.gear.quantity.value 1)}}[{{item.system.gear.quantity.value}}]{{/if}}</a>
                  </div>
                  <i class="grid-span-6">{{item.system.gear.location.note}}</i>  
                </li>
                </fieldset>
              {{/each}}
              {{/if}}
            </fieldset>
          {{/each}}
          {{/if}}
        </fieldset>
      {{/each}}
      {{/if}}
    </fieldset>
    {{/each}}
  </ol>
</fieldset>
{{/each}}
