{{#each nestedGear}}
<fieldset class="collapse-parent">
  <legend class="resource-label" data-item-id="{{@key}}">
    {{this.label}} Items [{{#if (eq @root.actor.type "spacecraft")}}{{this.tons}} tons{{else}}{{this.pounds}} lbs{{/if}}] {{#if @first}}<a class="item-control item-create" data-tooltip="Create {{this.label}} item" data-type="object"><i class="fas fa-plus"></i></a>{{/if}} <a data-tooltip="Toggle {{this.label}} Item Display"><i class="fas fa-list collapse-toggle" data-collapse="{{@key}}"></i></a>
  </legend>
  <ol class="items-list flex-group-left {{@key}} {{#if (lookup ../collapses @key)}}collapse{{/if}}">
    {{#each this.children as |item id|}}
    <fieldset class="flex-group-left nested-container">
      <li class="item flex-group-left item-context" data-item-id="{{item._id}}">
        <div class="item-name flexrow">
          <img class="item-image" src="{{item.img}}">
          <a class="item-control item-edit flexcol" data-item-id="{{item._id}}" data-tooltip="Edit Item">
            <div>
            <i class="fas fa-edit"></i> {{item.name}}{{#if (ne item.system.gear.quantity.value 1)}} [{{item.system.gear.quantity.value}}]{{/if}}
            </div>
            <div>
              {{#each item.system.gear.resources}} [{{this.value}}{{#if this.max}}/{{this.max}}{{/if}}{{#if (or this.value this.max)}} {{/if}}{{#if (eq this.type 'consumable')}}<i class="fas fa-boxes"></i>{{/if}}{{#if (eq this.type 'cartridge')}}<i class="fas fa-gun"></i>{{/if}}{{#if (eq this.type 'coolant')}}<i class="fas fa-temperature-full"></i>{{/if}}{{#if (eq this.type 'magic')}}<i class="fas fa-scroll"></i>{{/if}}]{{/each}}
            </div>
          </a>
          <i class="flex-group-center">{{item.system.gear.location.note}}</i>  
        </div>        
      </li>
      {{#if item.children.length}}
      {{#each item.children as |item id|}}
      <fieldset class="flex-group-left nested-container">
          <li class="item flex-group-left item-context" data-item-id="{{item._id}}">
            <div class="item-name flexrow">
              <img class="item-image" src="{{item.img}}">
              <a class="item-control item-edit flexcol" data-item-id="{{item._id}}" data-tooltip="Edit Item">
                <div>
                <i class="fas fa-edit"></i> {{item.name}}{{#if (ne item.system.gear.quantity.value 1)}} [{{item.system.gear.quantity.value}}]{{/if}}
                </div>
                <div>
                  {{#each item.system.gear.resources}} [{{this.value}}{{#if this.max}}/{{this.max}}{{/if}}{{#if (or this.value this.max)}} {{/if}}{{#if (eq this.type 'consumable')}}<i class="fas fa-boxes"></i>{{/if}}{{#if (eq this.type 'cartridge')}}<i class="fas fa-gun"></i>{{/if}}{{#if (eq this.type 'coolant')}}<i class="fas fa-temperature-full"></i>{{/if}}{{#if (eq this.type 'magic')}}<i class="fas fa-scroll"></i>{{/if}}]{{/each}}
                </div>
              </a>
              <i class="flex-group-center">{{item.system.gear.location.note}}</i>  
            </div>        
          </li>
          {{#if item.children.length}}
          {{#each item.children as |item id|}}
          <fieldset class="flex-group-left nested-container">
              <li class="item flex-group-left item-context" data-item-id="{{item._id}}">
                <div class="item-name flexrow">
                  <img class="item-image" src="{{item.img}}">
                  <a class="item-control item-edit flexcol" data-item-id="{{item._id}}" data-tooltip="Edit Item">
                    <div>
                    <i class="fas fa-edit"></i> {{item.name}}{{#if (ne item.system.gear.quantity.value 1)}} [{{item.system.gear.quantity.value}}]{{/if}}
                    </div>
                    <div>
                      {{#each item.system.gear.resources}} [{{this.value}}{{#if this.max}}/{{this.max}}{{/if}}{{#if (or this.value this.max)}} {{/if}}{{#if (eq this.type 'consumable')}}<i class="fas fa-boxes"></i>{{/if}}{{#if (eq this.type 'cartridge')}}<i class="fas fa-gun"></i>{{/if}}{{#if (eq this.type 'coolant')}}<i class="fas fa-temperature-full"></i>{{/if}}{{#if (eq this.type 'magic')}}<i class="fas fa-scroll"></i>{{/if}}]{{/each}}
                    </div>
                  </a>
                  <i class="flex-group-center">{{item.system.gear.location.note}}</i>  
                </div>        
              </li>
              {{#if item.children.length}}
              {{#each item.children as |item id|}}
              <fieldset class="flex-group-left nested-container">
                  <li class="item flex-group-left item-context" data-item-id="{{item._id}}">
                    <div class="item-name flexrow">
                      <img class="item-image" src="{{item.img}}">
                      <a class="item-control item-edit flexcol" data-item-id="{{item._id}}" data-tooltip="Edit Item">
                        <div>
                        <i class="fas fa-edit"></i> {{item.name}}{{#if (ne item.system.gear.quantity.value 1)}} [{{item.system.gear.quantity.value}}]{{/if}}
                        </div>
                        <div>
                          {{#each item.system.gear.resources}} [{{this.value}}{{#if this.max}}/{{this.max}}{{/if}}{{#if (or this.value this.max)}} {{/if}}{{#if (eq this.type 'consumable')}}<i class="fas fa-boxes"></i>{{/if}}{{#if (eq this.type 'cartridge')}}<i class="fas fa-gun"></i>{{/if}}{{#if (eq this.type 'coolant')}}<i class="fas fa-temperature-full"></i>{{/if}}{{#if (eq this.type 'magic')}}<i class="fas fa-scroll"></i>{{/if}}]{{/each}}
                        </div>
                      </a>
                      <i class="flex-group-center">{{item.system.gear.location.note}}</i>  
                    </div>        
                  </li>
                </fieldset>
              {{/each}}
              {{/if}}
            </fieldset>
          {{/each}}
          {{/if}}
        </fieldset>
      {{/each}}
      {{/if}}
    </fieldset>
    {{/each}}
  </ol>
</fieldset>
{{/each}}
