<fieldset>
    <legend class="resource-label">
        Skill Checks <a class="action-create"><i class="fas fa-plus"></i></a>
    </legend>
    <ol class="items-list">
        {{#each system.actions}}
        {{#if (eq this.check.type "skill")}}
        <li>
            <fieldset class="grid grid-12col action-item flex-group-center">
                <legend class="flexrow flex-group-left action-legend">
                    <input class="flex3" type="text" name="system.actions.{{@key}}.name" value="{{this.name}}" placeholder="Name" data-dtype="String">
                    <select name="system.actions.{{@key}}.check.type" class="flex-group-center flex2">
                        {{#select this.check.type}}
                            <option value="skill">Skill</option>
                            <option value="attack">Attack</option>
                            <option value="message">Message</option>
                        {{/select}}
                        </select>
                    <div class="flex-group-center">
                        <a class="action-delete" data-target="{{@key}}"><i class="fas fa-trash"></i></a>
                    </div>
                </legend>
                <select name="system.actions.{{@key}}.source" class="grid-span-3 flex-group-center">
                    {{selectOptions @root.attackers selected=this.source nameAttr="value" labelAttr="label"}}
                </select>
                <span>CP</span>
                <input type="text" name="system.actions.{{@key}}.cp" value="{{this.cp}}" placeholder="0" data-dtype="Number">   
                <span>Cost</span>
                <input class="flex3" type="text" name="system.actions.{{@key}}.ammo.cost" value="{{this.ammo.cost}}" placeholder="0" data-dtype="Number">            
                <select class="grid-span-3 flex-group-left" name="system.actions.{{@key}}.ammo.source" data-dtype="String">
                {{#select this.ammo.source}}
                    <option value="">Self</option>
                    {{#each @root.resOptions}}
                    {{#if this.entries.length}}
                    <optgroup label="{{this.label}}">
                        {{selectOptions this.entries selected=this.ammo.source nameAttr="id" labelAttr="name"}}
                    </optgroup>
                    {{/if}}
                    {{/each}}
                {{/select}}
                </select>
                <div class="flexrow flex-group-center grid-span-2">
                {{#if this.ammo.source}}
                    {{#if (eq this.linked.type "quantity")}}
                        <input class="item-input" type="text" data-target-prop="value" data-target-id="{{this.ammo.source}}" value="{{this.linked.value}}" data-dtype="Number" placeholder="Quantity">
                    {{/if}}
                    {{#if (eq this.linked.type "coolant")}}
                        <input class="flex3 item-input" type="text" data-target-prop="value" data-target-id="{{this.ammo.source}}" value="{{this.linked.value}}" data-dtype="Number" placeholder="Heat">
                        <span>/</span>
                        <input class="flex3" type="text" name="system.actions.{{@key}}.ammo.max" value="{{this.ammo.max}}" placeholder="Max" data-dtype="Number">
                    {{/if}}
                    {{#if (or (eq this.linked.type "consumable") (eq this.linked.type "magic"))}}
                        <input class="flex3 item-input" type="text" data-target-prop="value" data-target-id="{{this.ammo.source}}" value="{{this.linked.value}}" data-dtype="Number" placeholder="Value">
                        <span>/</span>
                        <input class="flex3 item-input" type="text" data-target-prop="max" data-target-id="{{this.ammo.source}}" value="{{this.linked.max}}" data-dtype="Number" placeholder="Max">
                    {{/if}}
                {{else}}                
                        <input class="flex3" type="text" name="system.actions.{{@key}}.ammo.value" value="{{this.ammo.value}}" placeholder="0" data-dtype="Number">
                        <span>/</span>
                        <input class="flex3" type="text" name="system.actions.{{@key}}.ammo.max" value="{{this.ammo.max}}" placeholder="0" data-dtype="Number">
                {{/if}}
                </div>
                <input type="text" value="{{numberFormat this.check.mid sign=true}}" data-tooltip="With MAN and Speed" readonly>
                <input type="text" class="grid-span-2" name="system.actions.{{@key}}.check.misc" value="{{this.check.misc}}" placeholder="Misc" data-dtype="String">
                <input type="text" class="grid-span-8" name="system.actions.{{@key}}.check.flavor" value="{{this.check.flavor}}" placeholder="Check Flavor" data-dtype="String">
                <a class="vehicle-check resource-label" data-check-id="{{@key}}" data-roll-type="{{this.check.type}}"><i class="fas fa-dice"></i></a>
                <input type="text" class="grid-span-3" name="system.actions.{{@key}}.effect.misc" value="{{this.effect.misc}}" placeholder="Effect" data-dtype="String">
                <input type="text" class="grid-span-8" name="system.actions.{{@key}}.effect.flavor" value="{{this.effect.flavor}}" placeholder="Effect Flavor" data-dtype="String">
                <a class="rollable resource-label" data-roll="{{this.effect.misc}}" data-label="{{this.name}}: {{this.effect.flavor}}"><i class="fas fa-dice"></i></a>
            </fieldset>
            </li>
        {{/if}}
        {{/each}}
    </ol>
</fieldset>
<fieldset>
    <legend class="resource-label">
        Attacks
    </legend>
    <ol class="items-list">
        {{#each system.actions}}
        {{#if (eq this.check.type "attack")}}
        <li>
        <fieldset class="grid grid-12col action-item flex-group-center">
            <legend class="flexrow flex-group-left action-legend">
                <input class="flex3" type="text" name="system.actions.{{@key}}.name" value="{{this.name}}" placeholder="Name" data-dtype="String">
                <select name="system.actions.{{@key}}.check.type" class="flex-group-center flex2">
                    {{#select this.check.type}}
                        <option value="skill">Skill</option>
                        <option value="attack">Attack</option>
                        <option value="message">Message</option>
                    {{/select}}
                    </select>
                <div class="flex-group-center">
                    <a class="action-delete" data-target="{{@key}}"><i class="fas fa-trash"></i></a>
                </div>
            </legend>
            <select name="system.actions.{{@key}}.source" class="grid-span-3 flex-group-center">
                {{selectOptions @root.attackers selected=this.source nameAttr="value" labelAttr="label"}}
            </select>
            <span>CP</span>
            <input type="text" name="system.actions.{{@key}}.cp" value="{{this.cp}}" placeholder="0" data-dtype="Number">   
            <span>Cost</span>
            <input class="flex3" type="text" name="system.actions.{{@key}}.ammo.cost" value="{{this.ammo.cost}}" placeholder="0" data-dtype="Number">            
            <select class="grid-span-3 flex-group-left" name="system.actions.{{@key}}.ammo.source" data-dtype="String">
            {{#select this.ammo.source}}
                <option value="">Self</option>
                {{#each @root.resOptions}}
                {{#if this.entries.length}}
                <optgroup label="{{this.label}}">
                    {{selectOptions this.entries selected=this.ammo.source nameAttr="id" labelAttr="name"}}
                </optgroup>
                {{/if}}
                {{/each}}
            {{/select}}
            </select>
            <div class="flexrow flex-group-center grid-span-2">
            {{#if this.ammo.source}}
                {{#if (eq this.linked.type "quantity")}}
                    <input class="item-input" type="text" data-target-prop="value" data-target-id="{{this.ammo.source}}" value="{{this.linked.value}}" data-dtype="Number" placeholder="Quantity">
                {{/if}}
                {{#if (eq this.linked.type "coolant")}}
                    <input class="flex3 item-input" type="text" data-target-prop="value" data-target-id="{{this.ammo.source}}" value="{{this.linked.value}}" data-dtype="Number" placeholder="Heat">
                    <span>/</span>
                    <input class="flex3" type="text" name="system.actions.{{@key}}.ammo.max" value="{{this.ammo.max}}" placeholder="Max" data-dtype="Number">
                {{/if}}
                {{#if (or (eq this.linked.type "consumable") (eq this.linked.type "magic"))}}
                    <input class="flex3 item-input" type="text" data-target-prop="value" data-target-id="{{this.ammo.source}}" value="{{this.linked.value}}" data-dtype="Number" placeholder="Value">
                    <span>/</span>
                    <input class="flex3 item-input" type="text" data-target-prop="max" data-target-id="{{this.ammo.source}}" value="{{this.linked.max}}" data-dtype="Number" placeholder="Max">
                {{/if}}
            {{else}}                
                    <input class="flex3" type="text" name="system.actions.{{@key}}.ammo.value" value="{{this.ammo.value}}" placeholder="0" data-dtype="Number">
                    <span>/</span>
                    <input class="flex3" type="text" name="system.actions.{{@key}}.ammo.max" value="{{this.ammo.max}}" placeholder="0" data-dtype="Number">
            {{/if}}
            </div>
            <input type="text" value="{{numberFormat this.check.mid sign=true}}" data-tooltip="With Speed" readonly>
            <input type="text" class="grid-span-2" name="system.actions.{{@key}}.check.misc" value="{{this.check.misc}}" placeholder="Misc" data-dtype="String">
            <input type="text" class="grid-span-8" name="system.actions.{{@key}}.check.flavor" value="{{this.check.flavor}}" placeholder="Check Flavor" data-dtype="String">
            <a class="vehicle-check resource-label" data-check-id="{{@key}}" data-roll-type="{{this.check.type}}"><i class="fas fa-dice"></i></a>
            <input type="text" class="grid-span-3" name="system.actions.{{@key}}.effect.misc" value="{{this.effect.misc}}" placeholder="Effect" data-dtype="String">
            <input type="text" class="grid-span-8" name="system.actions.{{@key}}.effect.flavor" value="{{this.effect.flavor}}" placeholder="Effect Flavor" data-dtype="String">
            <a class="rollable resource-label" data-roll="{{this.effect.misc}}" data-label="{{this.name}}: {{this.effect.flavor}}"><i class="fas fa-dice"></i></a>
        </fieldset>
        </li>
        {{/if}}
        {{/each}}
    </ol>
</fieldset>
<fieldset>
    <legend class="resource-label">
        Utility
    </legend>
    <ol class="items-list">
        {{#each system.actions}}
        {{#if (eq this.check.type "message")}}
        <li>
            <fieldset class="grid grid-12col action-item flex-group-center">
                <legend class="flexrow flex-group-left action-legend">
                    <input class="flex3" type="text" name="system.actions.{{@key}}.name" value="{{this.name}}" placeholder="Name" data-dtype="String">
                    <select name="system.actions.{{@key}}.check.type" class="flex-group-center flex2">
                        {{#select this.check.type}}
                            <option value="skill">Skill</option>
                            <option value="attack">Attack</option>
                            <option value="message">Message</option>
                        {{/select}}
                        </select>
                    <div class="flex-group-center">
                        <a class="action-delete" data-target="{{@key}}"><i class="fas fa-trash"></i></a>
                    </div>
                </legend>
                <select name="system.actions.{{@key}}.source" class="grid-span-3 flex-group-center">
                    {{selectOptions @root.attackers selected=this.source nameAttr="value" labelAttr="label"}}
                </select>
                <span>CP</span>
                <input type="text" name="system.actions.{{@key}}.cp" value="{{this.cp}}" placeholder="0" data-dtype="Number">   
                <span>Cost</span>
                <input class="flex3" type="text" name="system.actions.{{@key}}.ammo.cost" value="{{this.ammo.cost}}" placeholder="0" data-dtype="Number">            
                <select class="grid-span-3 flex-group-left" name="system.actions.{{@key}}.ammo.source" data-dtype="String">
                {{#select this.ammo.source}}
                    <option value="">Self</option>
                    {{#each @root.resOptions}}
                    {{#if this.entries.length}}
                    <optgroup label="{{this.label}}">
                        {{selectOptions this.entries selected=this.ammo.source nameAttr="id" labelAttr="name"}}
                    </optgroup>
                    {{/if}}
                    {{/each}}
                {{/select}}
                </select>
                <div class="flexrow flex-group-center grid-span-2">
                {{#if this.ammo.source}}
                    {{#if (eq this.linked.type "quantity")}}
                        <input class="item-input" type="text" data-target-prop="value" data-target-id="{{this.ammo.source}}" value="{{this.linked.value}}" data-dtype="Number" placeholder="Quantity">
                    {{/if}}
                    {{#if (eq this.linked.type "coolant")}}
                        <input class="flex3 item-input" type="text" data-target-prop="value" data-target-id="{{this.ammo.source}}" value="{{this.linked.value}}" data-dtype="Number" placeholder="Heat">
                        <span>/</span>
                        <input class="flex3" type="text" name="system.actions.{{@key}}.ammo.max" value="{{this.ammo.max}}" placeholder="Max" data-dtype="Number">
                    {{/if}}
                    {{#if (or (eq this.linked.type "consumable") (eq this.linked.type "magic"))}}
                        <input class="flex3 item-input" type="text" data-target-prop="value" data-target-id="{{this.ammo.source}}" value="{{this.linked.value}}" data-dtype="Number" placeholder="Value">
                        <span>/</span>
                        <input class="flex3 item-input" type="text" data-target-prop="max" data-target-id="{{this.ammo.source}}" value="{{this.linked.max}}" data-dtype="Number" placeholder="Max">
                    {{/if}}
                {{else}}                
                        <input class="flex3" type="text" name="system.actions.{{@key}}.ammo.value" value="{{this.ammo.value}}" placeholder="0" data-dtype="Number">
                        <span>/</span>
                        <input class="flex3" type="text" name="system.actions.{{@key}}.ammo.max" value="{{this.ammo.max}}" placeholder="0" data-dtype="Number">
                {{/if}}
                </div>
                <input type="text" class="grid-span-11" name="system.actions.{{@key}}.check.flavor" value="{{this.check.flavor}}" placeholder="Chat Message" data-dtype="String">
                <a class="vehicle-check resource-label" data-check-id="{{@key}}" data-roll-type="{{this.check.type}}"><i class="fas fa-dice"></i></a>
                <input type="text" class="grid-span-3" name="system.actions.{{@key}}.effect.misc" value="{{this.effect.misc}}" placeholder="Effect" data-dtype="String">
                <input type="text" class="grid-span-8" name="system.actions.{{@key}}.effect.flavor" value="{{this.effect.flavor}}" placeholder="Effect Flavor" data-dtype="String">
                <a class="rollable resource-label" data-roll="{{this.effect.misc}}" data-label="{{this.name}}: {{this.effect.flavor}}"><i class="fas fa-dice"></i></a>
            </fieldset>
        </li>
        {{/if}}
        {{/each}}
    </ol>
</fieldset>