<section class="grid grid-4col">
    <aside class="sidebar">
        <fieldset>
            <legend class="resource-label">Vehicle Statistics</legend>
            <div class="grid grid-5col flex-group-center">
                <input type="text" class="grid-span-5 flex-group-center" name="system.details.chassis" value="{{system.details.chassis}}" placeholder="Chassis" data-dtype="String">
                <span class="grid-span-3">Crew</span>
                <input type="text" class="grid-span-2" name="system.stats.crew" value="{{system.stats.crew}}" placeholder="0" data-dtype="Number">
                <span class="grid-span-3">Passengers</span>
                <input type="text" class="grid-span-2" name="system.stats.passengers" value="{{system.stats.passengers}}" placeholder="0" data-dtype="Number">
                <span class="grid-span-3">Cargo</span>
                <input type="text" class="grid-span-2" name="system.stats.cargo" value="{{system.stats.cargo}}" placeholder="0 lbs" data-dtype="Number">
                <input type="text" class="grid-span-5 flex-group-center" name="system.details.size" value="{{system.details.size}}" placeholder="Size" data-dtype="String">
                <select class="grid-span-5 flex-group-center" name="system.stats.topSpeed">
                    {{selectOptions topSpeeds selected=system.stats.topSpeed nameAttr="value" labelAttr="label"}}
                </select>
                <span class="grid-span-3">Initiative</span>
                <input type="text" class="grid-span-2" name="system.stats.init.innate" value="{{system.stats.init.innate}}" placeholder="Base" data-dtype="Number">
                <select class="grid-span-5 flex-group-center" name="system.stats.init.driver">
                    {{selectOptions drivers selected=system.stats.init.driver nameAttr="value" labelAttr="label" blank="Driver"}}
                </select>
                <span class="grid-span-3">Capital Cost</span>
                <input type="text" class="grid-span-2" value="{{system.details.cost.total}}" readonly>
                <input type="text" class="grid-span-2" name="system.details.cost.innate" value="{{system.details.cost.innate}}" placeholder="Base" data-dtype="Number">
                <input type="text" class="grid-span-2" name="system.details.cost.misc" value="{{system.details.cost.misc}}" placeholder="Misc" data-dtype="Number">
            </div>
        </fieldset>
        <fieldset>
            <legend class="resource-label">Vehicle Damage</legend>
            <div class="grid grid-5col flex-group-center">
                <input type="text" class="grid-span-3" name="system.health.incoming" value="{{system.health.incoming}}" placeholder="Incoming" data-dtype="Number">
                <a class="item-control apply-damage" data-tooltip="Apply Normal Damage" data-target="vehicle"><i class="fas fa-car-burst"></i></a>
                <a class="item-control apply-damage" data-tooltip="Apply Plasma Damage" data-target="vehiclePlasma"><i class="fas fa-shield"></i></a>
                <input type="text" class="grid-span-5" name="system.health.notes" value="{{system.health.notes}}" placeholder="Notes" data-dtype="String">      
                <span class="grid-span-5">Locational</span>                   
                <span></span>
                <fieldset class="action-item grid grid-3col flex-group-center">
                    <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.frontLeft">
                        {{#if system.health.extremity.frontLeft}}
                        <i class="fas fa-burst jammed"></i>
                        {{else}}
                        <i class="fas fa-compact-disc"></i>
                        {{/if}}
                    </a>
                    <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.engine">
                        {{#if system.health.extremity.engine}}
                        <i class="fas fa-smog jammed"></i>
                        {{else}}
                        <i class="fas fa-oil-can"></i>
                        {{/if}}
                    </a>                
                    <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.frontRight">
                        {{#if system.health.extremity.frontRight}}
                        <i class="fas fa-burst jammed"></i>
                        {{else}}
                        <i class="fas fa-compact-disc"></i>
                        {{/if}}
                    </a>
                    <a class="actor-toggle resource-label grid-start-2" data-target-prop="system.health.extremity.other">
                        {{#if system.health.extremity.other}}
                        <i class="fas fa-gauge-high jammed"></i>
                        {{else}}
                        <i class="fas fa-gauge"></i>
                        {{/if}}
                    </a>
                    <span></span>
                    <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.rearLeft">
                        {{#if system.health.extremity.rearLeft}}
                        <i class="fas fa-burst jammed"></i>
                        {{else}}
                        <i class="fas fa-compact-disc"></i>
                        {{/if}}
                    </a>
                    <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.cargo">
                        {{#if system.health.extremity.cargo}}
                        <i class="fas fa-box-open jammed"></i>
                        {{else}}
                        <i class="fas fa-box"></i>
                        {{/if}}
                    </a>
                    <a class="actor-toggle resource-label" data-target-prop="system.health.extremity.rearRight">
                        {{#if system.health.extremity.rearRight}}
                        <i class="fas fa-burst jammed"></i>
                        {{else}}
                        <i class="fas fa-compact-disc"></i>
                        {{/if}}
                    </a>
                </fieldset>
            </div>
        </fieldset>
    </aside>

    <section class="main grid-span-3">
        <fieldset>
            <legend class="resource-label">
                Crew <a class="crew-link" data-tooltip="Link character as crew"><i class="fas fa-link"></i></a>
            </legend>
            <ol class="items-list">
                {{#each system.vehicle.crew}}
                {{#if (eq @key "generic")}}
                <li class="item">
                <fieldset class="action-item grid grid-9col flex-group-center">
                    <span class="grid-span-3">NPC Crew Quality</span>
                    <span class="grid-span-2">Check Modifier</span>
                    <input type="text" name="system.vehicle.crew.{{@key}}.skillBase" value="{{this.skillBase}}" data-dtype="Number">
                    <span class="grid-span-2">Attack Bonus</span>
                    <input type="text" name="system.vehicle.crew.{{@key}}.attackBase" value="{{this.attackBase}}" data-dtype="Number">
                </fieldset>
                </li>
                {{else}}
                <li class="item">
                <fieldset class="action-item grid grid-9col flex-group-center">
                    <a class="item-control actor-edit grid-span-3" data-actor-uuid="{{this.uuid}}"><i class="fas fa-edit"></i> {{this.name}}</a>
                    <span>Skill</span>
                    <select class="grid-span-4 flex-group-center" name="system.vehicle.crew.{{@key}}.skill" data-dtype="String">
                        {{selectOptions this.listSkills selected=this.skill nameAttr="value" labelAttr="label" blank="Skill"}}
                    </select>
                    <a class="crew-unlink" data-target="{{@key}}"><i class="fas fa-unlink"></i></a>
                    <input type="text" class="grid-span-3" name="system.vehicle.crew.{{@key}}.note" value="{{this.note}}" placeholder="Notes" data-dtype="String">
                    <span class="grid-start-4">Attack</span>
                    <input type="text" name="system.vehicle.crew.{{@key}}.attackMisc" value="{{this.attackMisc}}" placeholder="Misc" data-dtype="Number">
                    <select class="flex-group-center grid-span-2" name="system.vehicle.crew.{{@key}}.attackAbility" data-dtype="String">
                        {{selectOptions @root.OATS.abilityShort selected=this.attackAbility localize=true blank="Ability"}}
                    </select>
                    <input type="text" value="{{numberFormat this.attackBase sign=true}}" readonly>
                </fieldset>
                </li>
                {{/if}}
                {{/each}}
            </ol>
        </fieldset>
        <fieldset>
            <legend class="resource-label">
                Passengers
            </legend>
            <div>
                {{editor enrichPassengers target="system.vehicle.passengers" rollData=rollData button=true owner=owner editable=editable engine="prosemirror"}}
              </div>
        </fieldset>
    </section>
</section>