<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="flexrow">
      <div class="profile-img flex-group-center">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <div>Level {{system.stats.level.value}}</div>
        <span>{{system.stats.level.xp.needed}}</span>
      </div>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
        use both the "grid" and "grid-Ncol" class where "N" can be any number
        from 1 to 12 and will create that number of columns.  --}}
        <div class="grid grid-3col">
          <fieldset>
            <div class="grid grid-3col flex-group-center">
              <span>XHP</span>
              <div class="grid-span-2 flexrow flex-group-center">
                <input class="flex3 resource-delta" type="text" data-target="system.health.xhp.value" value="{{system.health.xhp.value}}" data-dtype="String">
                <span>/</span>
                <input class="flex3" type="text" value="{{system.health.xhp.max}}" readonly/>
              </div>
              <span>CHP</span>
              <div class="grid-span-2 flexrow flex-group-center">
                <input class="flex3 resource-delta" type="text" data-target="system.health.chp.value" value="{{system.health.chp.value}}" data-dtype="String">
                <span>/</span>
                <input class="flex3" type="text" value="{{system.health.chp.max}}" readonly/>
              </div>
              <span>Temp</span>
              <input class="grid-span-2" type="text" name="system.health.temp" value="{{system.health.temp}}" data-dtype="Number">
            </div>
          </fieldset>
          <fieldset>
            <div class="grid grid-3col flex-group-center">
              <span>CP</span>
              <div class="grid-span-2 flexrow flex-group-center">
                <input class="flex3 resource-delta" type="text" data-target="system.cp.value" value="{{system.cp.value}}" data-dtype="String">
                <span>/</span>
                <input class="flex3" type="text" name="system.cp.max" value="{{system.cp.max}}" data-dtype="Number">
              </div>
              <span>Temp</span>
              <input class="grid-span-2" type="text" name="system.cp.temp" value="{{system.cp.temp}}" data-dtype="Number">              
              <a class="resource-label property-change" data-target-prop="system.cp.value" data-change="-{{system.cp.armor.value}}" data-tooltip="Subtract armor loss from CP">Loss</a>
              <input class="grid-span-2" type="text" value="{{system.cp.armor.value}} CP to move" readonly>
            </div>
          </fieldset>
          <fieldset>
            <div class="grid grid-3col flex-group-center">
              <span class="grid-span-2">Defense</span>
              <input type="text" value="{{system.def.value}}" data-tooltip="10 Base{{#if system.def.equip.value}}, {{numberFormat system.def.equip.value sign=true}} Equipment{{/if}}{{#if system.abilities.dex.agi}}, {{numberFormat system.abilities.dex.agi sign=true}} Agility{{/if}}{{#if system.def.size}}, {{numberFormat system.def.size sign=true}} Size{{/if}}{{#if system.def.move}}, {{numberFormat system.def.move sign=true}} Movement{{/if}}{{#if system.def.misc.value}}, {{numberFormat system.def.misc.value sign=true}} Misc.{{/if}}{{#if system.def.dodge.value}}, {{numberFormat system.def.dodge.value sign=true}} Dodge{{/if}}" readonly>
              <span class="grid-span-2">Flat-Footed</span>
              <input type="text" value="{{system.def.flat}}" data-tooltip="10 Base{{#if system.def.equip.value}}, {{numberFormat system.def.equip.value sign=true}} Equipment{{/if}}{{#if (lt system.abilities.dex.agi 0)}}, {{numberFormat system.abilities.dex.agi sign=true}} Agility{{/if}}{{#if system.def.size}}, {{numberFormat system.def.size sign=true}} Size{{/if}}{{#if system.def.move}}, {{numberFormat system.def.move sign=true}} Movement{{/if}}{{#if system.def.misc.value}}, {{numberFormat system.def.misc.value sign=true}} Misc.{{/if}}" readonly>
              <span class="grid-span-2">Touch</span>
              <input type="text" value="{{system.def.touch}}" data-tooltip="10 Base{{#if system.abilities.dex.agi}}, {{numberFormat system.abilities.dex.agi sign=true}} Agility{{/if}}{{#if system.def.size}}, {{numberFormat system.def.size sign=true}} Size{{/if}}{{#if system.def.move}}, {{numberFormat system.def.move sign=true}} Movement{{/if}}{{#if system.def.misc.value}}, {{numberFormat system.def.misc.value sign=true}} Misc.{{/if}}{{#if system.def.dodge.value}}, {{numberFormat system.def.dodge.value sign=true}} Dodge{{/if}}" readonly>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="character">Character</a>
    <a class="item" data-tab="traits">Traits</a>
    <a class="item" data-tab="offense">Offense</a>
    <a class="item" data-tab="defense">Defense</a>
    <a class="item" data-tab="utility">Utility</a>
    <a class="item" data-tab="gear">Gear</a>
    <a class="item" data-tab="biography">Biography</a>
    <a class="item" data-tab="effects">Active Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Character Tab --}}
    <div class="tab character" data-group="primary" data-tab="character">
      {{> "systems/opsandtactics/templates/actor/parts/character-character.html"}}
    </div>

    {{!-- Traits Tab --}}
    <div class="tab traits" data-group="primary" data-tab="traits">
      {{> "systems/opsandtactics/templates/actor/parts/character-traits.html"}}
    </div>

    {{!-- Combat Tabs --}}
    <div class="tab offense" data-group="primary" data-tab="offense">
      {{> "systems/opsandtactics/templates/actor/parts/character-offense.html"}}
    </div>

    <div class="tab defense" data-group="primary" data-tab="defense">
        {{> "systems/opsandtactics/templates/actor/parts/character-defense.html"}}
    </div>

    {{!-- Utility Tab --}}
    <div class="tab utility" data-group="primary" data-tab="utility">
      {{> "systems/opsandtactics/templates/actor/parts/character-utility.html"}}
    </div>

    {{!-- Gear Tab --}}
    <div class="tab gear" data-group="primary" data-tab="gear">
       {{> "systems/opsandtactics/templates/actor/parts/character-items.html"}}
    </div>

    {{!-- Biography Tab --}}
        <div class="tab biography" data-group="primary" data-tab="biography">
          {{> "systems/opsandtactics/templates/actor/parts/character-biography.html"}}
        </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/opsandtactics/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

