<form class="{{cssClass}} {{actor.type}} flexcol" autocomplete="off">

  {{!-- Sheet Header --}}
  <header class="sheet-header">
    <div class="flexrow">
      <div class="profile-img flex-group-center">
        <img class="profile-img" src="{{actor.img}}" data-edit="img" title="{{actor.name}}"/>
        <select name="system.details.speedUnit" class="flex-group-center">
        {{#select system.details.speedUnit}}
          <option value="mph">MPH</option>
          <option value="fps">Ft/s</option>
          <option value="fpr">Ft/round</option>
        {{/select}}
        </select>
      </div>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{actor.name}}" placeholder="Name"/></h1>
        {{!-- The grid classes are defined in scss/global/_grid.scss. To use,
        use both the "grid" and "grid-Ncol" class where "N" can be any number
        from 1 to 12 and will create that number of columns.  --}}
        <div class="grid grid-10col">
          <fieldset class="grid-span-6">
            <div class="grid grid-7col flex-group-center">
              <span>HP</span>
              <div class="grid-span-2 flexrow flex-group-center">
                <input class="flex3 resource-delta" type="text" data-target="system.health.hp.value" value="{{system.health.hp.value}}" data-dtype="String">
                <span>/</span>
                <input class="flex3" type="text" name="system.health.hp.max" value="{{system.health.hp.max}}" data-dtype="Number">
              </div>
              <span>HRD</span>
              <input type="text" name="system.def.hardness" value="{{system.def.hardness}}" placeholder="0" data-dtype="Number">
              <span>P-HRD</span>
              <input type="text" name="system.def.plasma" value="{{system.def.plasma}}" placeholder="0" data-dtype="Number">
            </div>
          </fieldset>
          <fieldset class="grid-span-4">
            <div class="grid grid-4col flex-group-center">
              <span>DEF</span>
              <input type="text" name="system.def.innate" value="{{system.def.innate}}" placeholder="Base" data-dtype="Number">
              <input type="text" name="system.def.misc" value="{{system.def.misc}}" placeholder="Misc" data-dtype="Number">
              <input type="text" value="{{system.def.total}}" readonly>
            </div>
          </fieldset>
          <fieldset class="grid-span-6">
            <select name="system.vehicle.speed" class="flex-group-center">
              {{selectOptions speedList selected=system.vehicle.speed nameAttr="value" labelAttr="label"}}
            </select>
          </fieldset>
          <fieldset class="grid-span-4">
            <div class="grid grid-4col flex-group-center">
              <span>MAN</span>
              <input type="text" name="system.stats.maneuver.innate" value="{{system.stats.maneuver.innate}}" placeholder="Base" data-dtype="Number">
              <input type="text" name="system.stats.maneuver.misc" value="{{system.stats.maneuver.misc}}" placeholder="Misc" data-dtype="Number">
              <input type="text" value="{{numberFormat system.stats.maneuver.total sign=true}}" readonly>
            </div>
          </fieldset>
        </div>
      </div>
    </div>
  </header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    {{!-- Default tab is specified in actor-sheet.mjs --}}
    <a class="item" data-tab="vehicle">Vehicle</a>
    <a class="item" data-tab="actions">Actions</a>
    <a class="item" data-tab="cargo">Cargo</a>
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Active Effects</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">

    {{!-- Vehicle Tab --}}
    <div class="tab vehicle" data-group="primary" data-tab="vehicle">
      {{> "systems/opsandtactics/templates/actor/parts/actor-vehicle.html"}}
    </div>

    {{!-- Actions Tab --}}
    <div class="tab actions" data-group="primary" data-tab="actions">
      {{> "systems/opsandtactics/templates/actor/parts/vehicle-actions.html"}}
    </div>

    {{!-- Cargo Tabs --}}
    <div class="tab cargo" data-group="primary" data-tab="cargo">

    </div>

    {{!-- Description Tab --}}
        <div class="tab description" data-group="primary" data-tab="description">
          <fieldset>
            <legend class="resource-label">
              Description
            </legend>
            <div>
                {{editor enrichBio target="system.details.biography" rollData=rollData button=true owner=owner editable=editable engine="prosemirror"}}
            </div>
          </fieldset>
        </div>

    {{!-- Active Effects Tab --}}
    <div class="tab effects flexcol" data-group="primary" data-tab="effects">
      {{> "systems/opsandtactics/templates/actor/parts/actor-effects.html"}}
    </div>

  </section>
</form>

