{{#if system.gear.physical}}
<fieldset>
    <legend class="resource-label">
        Object Properties
    </legend>
    <div class="grid grid-7col flex-group-center">
        <span>Quantity</span>
        <input name="system.gear.quantity.value" value="{{system.gear.quantity.value}}" type="text" data-dtype="Number" placeholder="#">
        <span>Size</span>
        <select class="grid-span-2 flex-group-center" name="system.gear.size" data-dtype="String">
            {{#select system.gear.size}}
                <option value="Fine">Fine</option>
                <option value="Diminutive">Diminutive</option>
                <option value="Tiny">Tiny</option>
                <option value="Small">Small</option>
                <option value="Medium">Medium</option>
                <option value="Large">Large</option>
                <option value="Huge">Huge</option>
                <option value="Gargantuan">Gargantuan</option>
                <option value="Colossal"></option>
            {{/select}}
            </select>
        <span>Weight</span>
        <input name="system.gear.weight" value="{{system.gear.weight}}" type="text" data-dtype="Number" placeholder="lbs">
        <span>Cost</span>
        <input name="system.gear.cost" value="{{system.gear.cost}}" type="text" data-dtype="Number" placeholder="WP">
        <span>Quality</span>
        <input class="grid-span-2" name="system.gear.quality" value="{{system.gear.quality}}" type="text" data-dtype="String">        
        <span>License</span>
        <input name="system.gear.restriction" value="{{system.gear.restriction}}" type="text" data-dtype="String" placeholder="None">
    </div>
    <div class="grid grid-7col flex-group-center">
        <span>Container</span>
        <select class="grid-span-6 flex-group-center" name="system.gear.location.parent" data-dtype="String">
            {{selectOptions containers selected=system.gear.location.parent nameAttr="id" labelAttr="name"}}
        </select>        
        <span>Note</span>
        <input class="grid-span-6" name="system.gear.location.note" value="{{system.gear.location.note}}" type="text" data-dtype="String" placeholder="Location note"/>
    </div>
</fieldset>
{{/if}}
<fieldset>
    <legend class="resource-label">
        Object Resources - <a class="item-control sub-create" data-target-name="consumable" title="Add Consumable"><i class="fas fa-boxes"></i></a> - <a class="item-control sub-create" data-target-name="coolant" title="Add Coolant"><i class="fas fa-snowflake"></i></a> - <a class="item-control sub-create" data-target-name="magic" title="Add Magic"><i class="fas fa-scroll"></i></a> - <a class="item-control sub-create" data-target-name="resource" title="Add Generic Resource"><i class="fas fa-plus"></i></a> 
    </legend>
    <ol class="items-list flex-group-center">
        <li class="grid grid-10col flex-group-center">
            <input class="grid-span-3" type="text" value="Quantity" readonly>
            <input class="grid-span-2" type="text"  value="{{system.gear.quantity.value}}" readonly>
            <span class="grid-start-7 grid-span-2">Available</span>
            <div>
                <input name="system.gear.quantity.available" title="Available" type="checkbox" {{checked system.gear.quantity.available}}/>
            </div>
        </li>
        {{#each system.gear.resources}}
        <li class="grid grid-10col flex-group-center">
            <input class="grid-span-3" type="text" name="system.gear.resources.{{@key}}.name" value="{{this.name}}" data-dtype="String" placeholder="{{this.type}}">
            {{#if (eq this.type "resource")}}
            <div class="flexrow grid-span-6 flex-group-center">
                <input class="flex3" type="text" name="system.gear.resources.{{@key}}.value" value="{{this.value}}" data-dtype="String" placeholder="Value">
                <span>/</span>
                <input class="flex3" type="text" name="system.gear.resources.{{@key}}.max" value="{{this.max}}" data-dtype="String" placeholder="Max">
            </div>
            {{else}}
            {{#unless (eq this.type "coolant")}}
            <div class="flexrow grid-span-3 flex-group-center">
                <input class="flex3" type="text" name="system.gear.resources.{{@key}}.value" value="{{this.value}}" data-dtype="Number" placeholder="Value">
                <span>/</span>
                <input class="flex3" type="text" name="system.gear.resources.{{@key}}.max" value="{{this.max}}" data-dtype="Number" placeholder="Max">
            </div>
            {{/unless}}
            {{/if}}
            {{#if (eq this.type "consumable")}}
            <span class="grid-span-2">Available</span>
            <div>
                <input name="system.gear.resources.{{@key}}.available" title="Available" type="checkbox" {{checked this.available}}/>
            </div>
            {{/if}}
            {{#if (eq this.type "coolant")}}
            <input class="grid-span-2" type="text" name="system.gear.resources.{{@key}}.value" value="{{this.value}}" data-dtype="Number" placeholder="Value">
            <span class="grid-start-7 grid-span-2">Cool</span>
            <div>
                <input name="system.gear.resources.{{@key}}.cool" title="Cool" type="checkbox" {{checked this.cool}}/>
            </div>
            {{/if}}
            {{#if (eq this.type "magic")}}
            <span class="grid-span-2">Mental Limit</span>
            <input type="text" name="system.gear.resources.{{@key}}.ml" value="{{this.ml}}" data-dtype="Number" placeholder="ML">
            {{/if}}
            <a class="item-control sub-delete grid-start-10" data-target-name="gear.resources" data-remove-target="{{@key}}" title="Remove Resource"><i class="fas fa-trash"></i></a>
        </li>
        {{/each}}
    </ol>
</fieldset>
<fieldset class="sheet-body tab">
    <legend class="resource-label">
      Description
    </legend>
    <div class="sheet-body tab">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </fieldset>