{{#if system.gear.physical}}
<fieldset>
    <legend class="resource-label">
        Object Properties
    </legend>
    <div class="resource-label grid grid-7col flex-group-center">
        <span>Quantity</span>
        <input name="system.gear.quantity" value="{{system.gear.quantity}}" type="text" data-dtype="Number" placeholder="#">
        <span>Size</span>
        <select class="grid-span-2 flex-group-center" name="system.gear.size" data-dtype="String">
            {{#select system.gear.size}}
                <option value="Fine">Fine</option>
                <option value="Diminutive">Diminutive</option>
                <option value="Tiny">Tiny</option>
                <option value="Small">Small</option>
                <option value="Medium">Medium</option>
                <option value="Large">Large</option>
                <option value="Huge">Huge</option>
                <option value="Gargantuan">Gargantuan</option>
                <option value="Colossal"></option>
            {{/select}}
            </select>
        <span>Weight</span>
        <input name="system.gear.weight" value="{{system.gear.weight}}" type="text" data-dtype="Number" placeholder="lbs">
        <span>Cost</span>
        <input name="system.gear.cost" value="{{system.gear.cost}}" type="text" data-dtype="Number" placeholder="WP">
        <span>Quality</span>
        <input class="grid-span-2" name="system.gear.quality" value="{{system.gear.quality}}" type="text" data-dtype="String">        
        <span>License</span>
        <input name="system.gear.restriction" value="{{system.gear.restriction}}" type="text" data-dtype="String" placeholder="None">
    </div>
    <div class="grid grid-7col flex-group-center resource-label">
        <span>Container</span>
        <select class="grid-span-6 flex-group-center" name="system.gear.location.parent" data-dtype="String">
            {{selectOptions containers selected=system.gear.location.parent nameAttr="id" labelAttr="name"}}
        </select>        
        <span>Note</span>
        <input class="grid-span-6" name="system.gear.location.note" value="{{system.gear.location.note}}" type="text" data-dtype="String" placeholder="Location note"/>
    </div>
</fieldset>
{{/if}}
<fieldset>
    <legend class="resource-label">
        Object Resources <a class="item-control sub-create" data-target-name="resources" title="Add Resource"><i class="fas fa-plus"></i></a>
    </legend>
    <ol class="items-list flex-group-center">
        {{#each system.gear.resources}}
        <li class="grid grid-7col flex-group-center">
            <input class="grid-span-4" type="text" name="system.gear.resources.{{@key}}.name" value="{{this.name}}" data-dtype="String" placeholder="Resource Name">
            <input type="text" name="system.gear.resources.{{@index}}.value" value="{{this.value}}" data-dtype="String" placeholder="Value">
            <input type="text" name="system.gear.resources.{{@index}}.max" value="{{this.max}}" data-dtype="String" placeholder="Max">
            <a class="item-control sub-delete" data-target-name="resources" data-remove-target="{{@key}}" title="Remove Resource"><i class="fas fa-trash"></i></a>
        </li>
        {{/each}}
    </ol>
</fieldset>
<fieldset class="sheet-body tab">
    <legend class="resource-label">
      Description
    </legend>
    <div class="sheet-body tab">
      {{editor system.description target="system.description" rollData=rollData button=true owner=owner editable=editable}}
    </div>
  </fieldset>