<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
</header>

  {{!-- Sheet Tab Navigation --}}
  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">Statistics</a>
    <a class="item" data-tab="description">Description</a>
  </nav>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    {{!-- Statistics Tab--}}
    <div class="tab" data-group="primary" data-tab="stats">
      <ol class="items-list flex-group-center">
        <li class="item items-header resource-label grid grid-9col">
          <div class="grid-span-2">Usage Limits</div>
          {{#if system.flags.shared}}
          <div class="grid-span-2">Source</div>
          {{else}}
            {{#if system.flags.limited}}
          <div>Uses</div>
          <div>Max</div>
            {{else}}
          <span></span>
          <span></span>
            {{/if}}
          {{/if}}
          <div class="grid-span-2">Mental Limit</div>
          <div>Cost</div>
          {{#if item.actor}}
          <div class="grid-start-9">Delete</div>
          {{/if}}
        </li>
        <li class="grid grid-9col">
          <div class="grid-span-2">
            <select name="system.uses.type" data-dtype="String">
            {{#select system.uses.type}}
              <option value="limited">Limited</option>
              <option value="unlimited">Unlimited</option>
              <option value="shared">Shared</option>
            {{/select}}
            </select>
          </div>
          {{#if system.flags.shared}}
          <div class="grid-span-2">
            <select name="system.uses.shared.source" data-dtype="String">
              {{selectOptions sourceMagics selected=system.uses.source nameAttr="id" labelAttr="name"}}
            </select>
          </div>
          {{else}}
            {{#if system.flags.limited}}
          <input type="text" name="system.uses.value" value="{{system.uses.value}}" data-dtype="Number">
          <input type="text" name="system.uses.max" value="{{system.uses.max}}" data-dtype="Number">
            {{else}}
          <span></span>
          <span></span>
            {{/if}}
          {{/if}}
          <div class="grid-span-2">
            <select name="system.mlCost.type" data-dtype="String">
            {{#select system.mlCost.type}}
              <option value="passive">Passive</option>
              <option value="activation">Per Use</option>
            {{/select}}
            </select>
          </div>
          <input type="text" name="system.mlCost.value" value="{{system.mlCost.value}}" data-dtype="Number">
          {{#if item.actor}}
          <div class="grid-start-9">
              <a class="item-control self-destruct" self="{{item._id}}" title="Delete Item"><i class="fas fa-trash"></i></a>
          </div>
          {{/if}}
        </li>   
        <li class="item items-header resource-label grid grid-9col">
          <div>Range</div>
          <div class="grid-span-5">Notes</div>
          <div>CP</div>
          <div>Active</div>
          <div>Physical</div>
        </li>
        <li class="grid grid-9col">
          <input type="text" name="system.range" value="{{system.range}}" data-dtype="String">
          <input class="grid-span-5" type="text" name="system.notes" value="{{system.notes}}" data-dtype="String">
          <input type="text" name="system.cp" value="{{system.cp}}" data-dtype="Number">
          <div>
            <input name="system.active" type="checkbox" {{checked system.active}}/>
          </div>
          <div>
            <input name="system.gear.physical" type="checkbox" {{checked system.gear.physical}}/>
          </div>
        </li>

        <li class="item items-header resource-label grid grid-2col">
          <div class="grid-span-2">Usage Action</div>
        </li>     
        <li class="grid grid-8col">
          <div class="grid-span-2">
            <select name="system.action.type">
            {{#select system.action.type}}
              <option value="attack">Attack Roll</option>
              <option value="other">Other Roll</option>
              <option value="message">Message</option>
            {{/select}}
            </select>
          </div>
          <div>
            <select name="system.action.ability" data-dtype="String">
                {{#select system.action.ability}}
                  <option value=""></option>
                  {{selectOptions OATS.abilityShort selected=system.action.ability localize=true}}
                {{/select}}
            </select>
          </div>
          <input class="grid-span-5" type="text" name="system.action.misc" value="{{system.action.misc}}" data-dtype="String" placeholder="Modifiers">
          <input class="grid-span-8" type="text" name="system.action.flavor" value="{{system.action.flavor}}" data-dtype="String" placeholder="Flavor">
        </li>
        <li class="item items-header resource-label grid grid-2col">
          <div class="grid-span-2">Usage Effect</div>
        </li>     
        <li class="grid grid-8col">
          <div class="grid-span-2">
            <select name="system.effect.type">
            {{#select system.effect.type}}
              <option value="attack">Attack Roll</option>
              <option value="other">Other Roll</option>
              <option value="message">Message</option>
            {{/select}}
            </select>
          </div>
          <div>
            <select name="system.effect.ability" data-dtype="String">
                {{#select system.effect.ability}}
                  <option value=""></option>
                  {{selectOptions OATS.abilityShort selected=system.effect.ability localize=true}}
                {{/select}}
            </select>
          </div>
          <input class="grid-span-5" type="text" name="system.effect.misc" value="{{system.effect.misc}}" data-dtype="String" placeholder="Modifiers">
          <input class="grid-span-8" type="text" name="system.effect.flavor" value="{{system.effect.flavor}}" data-dtype="String" placeholder="Flavor">
        </li>
      </ol>
    </div>


    {{!-- Description Tab --}}
    <div class="tab" data-group="primary" data-tab="description">
      {{> "systems/opsandtactics/templates/item/parts/item-object.html"}}
    </div>
  </section>
</form>
