<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats">Statistics</a>
        <a class="item" data-tab="attacks">Attacks</a>
        <a class="item" data-tab="description">Description</a>
      </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="stats">
            <fieldset>
                <legend class="resource-label">
                    Weapon Statistics {{#if item.actor}}<a class="item-control self-destruct" title="Delete Item"><i class="fas fa-trash"></i></a>{{/if}}
                </legend>
                <div class="grid grid-12col resource-label flex-group-center">
                    <span class="grid-span-3 resource-label">Weapon Range</span>
                    <input name="system.range" value="{{system.range}}" type="text" data-dtype="String" placeholder="ft">
                    <span class="grid-span-3 resource-label">Critical Range</span>
                    <input name="system.crit" value="{{system.crit}}" type="text" data-dtype="Number" placeholder="-">
                    <span class="grid-span-3 resource-label">Error Range %</span>
                    <input name="system.error" value="{{system.error}}" type="text" data-dtype="Number" placeholder="%">
                    <select class="grid-span-3 flex-group-center" name="system.magazine.type" data-dtype="String">
                    {{#select system.magazine.type}}
                        <option value="internal">Internal</option>
                        <option value="external">External</option>
                        <option value="coolant">Fusion</option>
                        <option value="none">Ammo n/A</option>
                    {{/select}}
                    </select>
                    {{#unless (eq system.magazine.type "none")}}
                        {{#if (eq system.magazine.type "internal")}}
                            <span class="grid-span-2 resource-label">Loaded</span>
                            <input name="system.magazine.value" value="{{system.magazine.value}}" type="text" data-dtype="Number" placeholder="0"/>
                            <span class="grid-span-2 resource-label">Capacity</span>
                            <input name="system.magazine.max" value="{{system.magazine.max}}" type="text" data-dtype="Number" placeholder="0"/>
                        {{else}}
                            {{#if (eq system.magazine.type "coolant")}}
                                <select class="grid-span-5 flex-group-center" name="system.magazine.loaded.source" data-dtype="String">
                                    {{selectOptions magazines selected=system.magazine.loaded.source nameAttr="id" labelAttr="label"}}                              
                                </select>
                                <span class="grid-span-3 resource-label">Heat Capacity</span>
                                <input name="system.magazine.max" value="{{system.magazine.max}}" type="text" data-dtype="Number" placeholder="0"/>
                            {{/if}}
                            {{#if (eq system.magazine.type "external")}}
                                <select class="grid-span-6 flex-group-center" name="system.magazine.loaded.source" data-dtype="String">
                                    {{selectOptions magazines selected=system.magazine.loaded.source nameAttr="id" labelAttr="label"}}
                                </select>
                                <a class=" chamber-round grid-span-2 resource-label" data-loaded="{{system.magazine.loaded.source}}" Title="Chamber a round from the loaded magazine">Chamber</a>
                                <input name="system.magazine.value" value="{{system.magazine.value}}" type="text" data-dtype="Number" placeholder="+0"/>
                            {{/if}}
                        {{/if}}
                    {{/unless}}

                </div>
            </fieldset>
            <fieldset>
                <legend class="resource-label">
                    Weapon Modifiers
                </legend>
                <div class="grid grid-10col flex-group-center">
                    <select class="filter-select grid-span-3" name="system.importFilter" data-dtype="String">
                    {{#select system.importFilter}}
                        <option value="">Create New</option>
                        {{#each importableMods}}
                        <option value="{{@key}}">{{@key}}</option>
                        {{/each}}
                    {{/select}}
                    </select>
                    <ol class="items-list flex-group-center grid-span-7">
                        <li class="item items-header resource-label grid grid-7col">
                            <div>To-Hit</div>
                            <div class="grid-span-3">Damage</div>
                            <div>Recoil</div>
                            <div>CP</div>
                            <a class="item-control sub-create" data-target-name="weaponMods" title="Add Weapon Modifier"><i class="fas fa-plus"></i></a>
                        </li>
                    </ol>
                    {{#unless (eq system.importFilter "")}}
                    <select class="grid-span-3" name="system.importMod" data-dtype="String">
                    {{#select system.importMod}}
                        <option value=""></option>
                            {{#with (lookup importableMods @root.system.importFilter)}}
                            {{#each this.entries}}
                                <option value="{{this.value}}">{{this.label}}</option>>
                            {{/each}}
                            {{/with}}
                    {{/select}}
                    </select>
                    <input type="text" value="{{item.readyMod.hit}}" readonly>
                    <input class="grid-span-3" type="text" value="{{item.readyMod.damage}}" readonly>
                    <input type="text" value="{{item.readyMod.recoil}}" readonly>
                    <input type="text" value="{{item.readyMod.cp}}" readonly>
                    <div></div>
                    <i class="grid-span-10">{{item.readyMod.description}}</i>
                    {{/unless}}
                </div>
                <hr>
                <ol class="items-list flex-group-center">
                    {{#each system.weaponMods}}
                    <li class="grid grid-10col">
                        <input class="grid-span-3" name="system.weaponMods.{{@key}}.name" type="text" value="{{this.name}}" data-dtype="String" placeholder="Source"/>
                        <input name="system.weaponMods.{{@key}}.hit" type="text" value="{{this.hit}}" data-dtype="Number" placeholder="0"/>
                        <input class="grid-span-3" name="system.weaponMods.{{@key}}.damage" type="text" value="{{this.damage}}" data-dtype="String" placeholder="0"/>
                        <input name="system.weaponMods.{{@key}}.recoil" type="text" value="{{this.recoil}}" data-dtype="Number" placeholder="0"/>
                        <input name="system.weaponMods.{{@key}}.cp" type="text" value="{{this.cp}}" data-dtype="Number" placeholder="0"/>
                        <a class="item-control sub-delete" data-target-name="weaponMods" data-remove-target="{{@key}}" title="Remove Modifier"><i class="fas fa-trash"></i></a>
                        <input class="grid-span-10 flex-group-left" name="system.weaponMods.{{@key}}.description" type="text" value="{{this.description}}" data-dtype="String" placeholder="Description"/>
                    </li>
                    {{#if @last}}
                    {{else}}
                    <hr>
                    {{/if}}
                    {{/each}}
                </ol>
            </fieldset>
        </div>

        <div class="tab" data-group="primary" data-tab="description">
            {{> "systems/opsandtactics/templates/item/parts/item-object.html"}}
        </div>

        <div class="tab" data-group="primary" data-tab="attacks">
            <div class="flexrow">

                
            </div>
            <fieldset>
                <legend class="resource-label">
                    Mod Selection for Attacks <a class="item-control sub-create" data-target-name="attacks" title="Add Attack"><i class="fas fa-plus"></i></a>
                </legend>
                <div>
                    <select class="flex-group-center" name="system.selectMod" data-dtype="String">
                        {{selectOptions system.weaponMods selected=system.selectMod labelAttr="name"}}
                    </select>
                </div>
            </fieldset>
            {{#each system.attacks}}
            <fieldset>
                <legend>
                    <input name="system.attacks.{{@key}}.name" type="text" value="{{this.name}}" data-dtype="String"/>
                </legend>
                <div class="grid grid-10col flex-group-center">
                    <span class="resource-label">Active</span>
                    <div>
                        <input name="system.attacks.{{@key}}.active" type="checkbox" {{checked this.active}}/>
                    </div>
                    <span class="resource-label">Display</span>
                    <div>
                        <input name="system.attacks.{{@key}}.display" type="checkbox" {{checked this.display}}/>
                    </div>
                    <select class="grid-span-2" name="system.attacks.{{@key}}.type">
                    {{#select this.type}}
                        <option value="range">Ranged</option>
                        <option value="melee">Melee</option>
                        <option value="none">No Roll</option>
                    {{/select}}
                    </select>
                    <span class="resource-label grid-span-2">Ammo Used</span>
                    <input name="system.attacks.{{@key}}.ammo" value = "{{this.ammo}}" type="text" data-dtype="Number">
                    <a class="item-control sub-delete" data-target-name="attacks" data-remove-target="{{@key}}" title="Remove Attack"><i class="fas fa-trash"></i></a>
                    
                </div>
                <div class="grid grid-10col" {{#unless this.display}}style="display:none;"{{/unless}}>
                    <input class="grid-span-10 flex-group-center" name="system.attacks{{@key}}.description" value="{{this.description}}" type="text" data-dtype="String" placeholder="Description">
                    <button class="item-control sub-create grid-span-2" data-target-name="hit" data-pre-target="{{@key}}" title="Add To-Hit Modifier">To-Hit: {{#if (gte this.mods.hitTotal 0)}}+{{/if}}{{this.mods.hitTotal}}</button>
                    <button class="item-control sub-create grid-span-3" data-target-name="damage" data-pre-target="{{@key}}" title="Add Damage Modifier" style="word-wrap: break-word;">Damage: {{this.mods.damageTotal}}</button>
                    <button class="item-control sub-create grid-span-3" data-target-name="recoil" data-pre-target="{{@key}}" title="Add Recoil Modifier">Recoil: {{this.mods.recoil}}{{#if (gt this.mods.reduction 0)}} vs +{{this.mods.reduction}}{{/if}}</button>
                    <button class="item-control sub-create grid-span-2" data-target-name="cp" data-pre-target="{{@key}}" title="Add Combat Point Modifier">CP: {{this.mods.cp}}</button>
                    <div class="grid-span-2 flex-group-center">
                        <input name="system.attacks.{{@key}}.hit.attack" value="{{this.hit.attack}}" type="text" data-dtype="Number" placeholder="From Attack" title="From Attack">
                        <select name="system.attacks.{{@key}}.hit.ability" data-dtype="String">
                            {{#select this.hit.ability}}
                              <option value=""></option>
                              {{selectOptions @root.OATS.abilityShort selected=this.hit.ability localize=true}}
                            {{/select}}
                        </select>
                        {{#each this.hit.mods}}
                        <div class="flexrow flex-group-center" style="border-style:groove;">
                            <a class="item-control sub-delete" data-target-name="hit" data-pre-target="{{@../key}}" data-remove-target="{{@key}}" title="Remove To-Hit Modifier">{{this.name}}: {{this.value}}</a>
                        </div>
                        {{/each}}
                    </div>
                    <div class="grid-span-3 flex-group-center">
                        <input name="system.attacks.{{@key}}.damage.attack" value="{{this.damage.attack}}" type="text" data-dtype="String" placeholder="From Attack" title="From Attack">
                        <div class="flexrow flex-group-center">
                            <select class="flex3" name="system.attacks.{{@key}}.damage.ability" data-dtype="String">
                            {{#select this.damage.ability}}
                                <option value=""></option>
                                {{selectOptions @root.OATS.abilityShort selected=this.damage.ability localize=true}}
                            {{/select}}
                            </select>
                            <i class="fas fa-times flex1"></i>
                            <input class="flex2" name="system.attacks.{{@key}}.damage.scaleAbility" value="{{this.damage.scaleAbility}}" type="text" data-dtype="Number" placeholder="Multiplier">
                        </div>
                        {{#each this.damage.mods}}
                        <div class="flexrow flex-group-center" style="border-style:groove;">
                            <a class="item-control sub-delete" data-target-name="damage" data-pre-target="{{@../key}}" data-remove-target="{{@key}}" title="Remove Damage Modifier">{{this.name}}: {{this.value}}</i></a>
                        </div>
                        {{/each}}
                    </div>
                    <div class="grid-span-3 flex-group-center">
                        <input name="system.attacks.{{@key}}.recoil.attack" value="{{this.recoil.attack}}" type="text" data-dtype="Number" placeholder="From Attack" title="From Attack">
                        {{#each this.recoil.mods}}
                        <div class="flexrow flex-group-center"  style="border-style:groove;">
                            <a class="item-control sub-delete" data-target-name="recoil" data-pre-target="{{@../key}}" data-remove-target="{{@key}}" title="Remove Recoil Modifier">{{this.name}}: {{this.value}}</a>
                        </div>
                        {{/each}}
                    </div>
                    <div class="grid-span-2 flex-group-center">
                        <input name="system.attacks.{{@key}}.cp.attack" value="{{this.cp.attack}}" type="text" data-dtype="Number" placeholder="From Attack" title="From Attack">
                        {{#each this.cp.mods}}
                        <div class="flexrow flex-group-center"  style="border-style:groove;">
                            <a class="item-control sub-delete" data-target-name="cp" data-pre-target="{{@../key}}" data-remove-target="{{@key}}" title="Remove Combat Point Modifier">{{this.name}}: {{this.value}}</a>
                        </div>
                        {{/each}}
                    </div>
                </div>
            </fieldset>
            {{/each}}
        </div>
    </section>
</form>