<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>

    <nav class="sheet-tabs tabs" data-group="primary">
        <a class="item" data-tab="stats">Statistics</a>
        <a class="item" data-tab="attacks">Attacks</a>
        <a class="item" data-tab="description">Description</a>
      </nav>

    <section class="sheet-body">
        <div class="tab" data-group="primary" data-tab="stats">
            <ol class="items-list flex-group-center">
                <li class="item items-header resource-label grid grid-10col">
                    <div class="grid-span-2">Mag Type</div>
                    {{#if (eq system.magazine.type "coolant")}}
                    <div class="grid-span-5">Coolant Pack</div>
                    <div>Heat</div>
                    {{else}}
                    <div class="grid-span-5">Magazine</div>
                    {{/if}}
                    <div class="grid-start-9">Range</div>
                    {{#if item.actor}}
                    <div>Delete</div>
                    {{/if}}
                </li>
                <li class="grid grid-10col">
                    <div class="grid-span-2">
                        <select name="system.magazine.type" data-dtype="String">
                        {{#select system.magazine.type}}
                            <option value="internal">Internal</option>
                            <option value="external">External</option>
                            <option value="coolant">Coolant</option>
                            <option value="none">None</option>
                        {{/select}}
                        </select>
                    </div>
                    {{#if (eq system.magazine.type "none")}}
                    {{else}}
                        {{#if (eq system.magazine.type "internal")}}
                        <div class="grid-start-4">
                            <input name="system.magazine.value" value="{{system.magazine.value}}" type="text" data-dtype="Number"/>
                        </div>
                        <div>/</div>
                        <div>
                            <input name="system.magazine.max" value="{{system.magazine.max}}" type="text" data-dtype="Number"/>
                        </div>
                        {{else}}
                        <div class="grid-span-5">
                        <select class="drop-wide" name="system.magazine.loaded.source" data-dtype="String">
                                {{selectOptions magazines selected=system.magazine.loaded.source nameAttr="id" labelAttr="label"}}
                        </select>
                        </div>
                        {{/if}}
                    {{/if}}
                    {{#if (eq system.magazine.type "coolant")}}
                    <div>
                        <input name="system.magazine.max" value="{{system.magazine.max}}" type="text" data-dtype="Number"/>
                    </div>
                    {{/if}}
                    <div class="grid-start-9">
                        <input name="system.range" value="{{system.range}}" type="text" data-dtype="String"/>
                    </div>
                    {{#if item.actor}}
                    <div>
                        <a class="item-control self-destruct" self="{{item._id}}" title="Delete Item"><i class="fas fa-trash"></i></a>
                    </div>
                    {{/if}}
                </li>
            </ol>
            <ol class="items-list flex-group-center">
                <li class="item items-header resource-label grid grid-10col">
                    <div class="grid-span-3">Modifier</div>
                    <div>To-Hit</div>
                    <div class="grid-span-3">Damage</div>
                    <div>Recoil</div>
                    <div>CP</div>
                    <div>
                        <a class="item-control sub-create" data-target-name="weaponMods" title="Add Weapon Modifier"><i class="fas fa-plus"></i></a>
                    </div>
                </li>
                {{#each system.weaponMods}}
                <li class="grid grid-10col">
                    <div class="grid-span-3">
                        <input name="system.weaponMods.{{@index}}.name" type="text" value="{{this.name}}" data-dtype="String"/>
                        <input name="system.weaponMods.{{@index}}.id" type="text" value="{{this.id}}" data-dtype="String" hidden/>
                    </div>
                    <div>
                        <input name="system.weaponMods.{{@index}}.hit" type="text" value="{{this.hit}}" data-dtype="Number"/>
                    </div>
                    <div class="grid-span-3">
                        <input name="system.weaponMods.{{@index}}.damage" type="text" value="{{this.damage}}" data-dtype="String"/>
                    </div>
                    <div>
                        <input name="system.weaponMods.{{@index}}.recoil" type="text" value="{{this.recoil}}" data-dtype="Number"/>
                    </div>
                    <div>
                        <input name="system.weaponMods.{{@index}}.cp" type="text" value="{{this.cp}}" data-dtype="Number"/>
                    </div>
                    <div>
                        <a class="item-control sub-delete" data-target-name="weaponMods" data-remove-target="{{@key}}" title="Remove Modifier"><i class="fas fa-trash"></i></a>
                    </div>
                    <div class="grid-span-10 flex-group-left">
                        <input name="system.weaponMods.{{@index}}.description" type="text" value="{{this.description}}" data-dtype="String"/>
                    </div>
                </li>
                {{#if @last}}
                {{else}}
                <hr>
                {{/if}}
                {{/each}}
            </ol>
        </div>

        <div class="tab" data-group="primary" data-tab="description">
            {{> "systems/opsandtactics/templates/item/parts/item-object.html"}}
        </div>

        <div class="tab" data-group="primary" data-tab="attacks">
            <select class="drop-wide" name="system.selectMod" data-dtype="String">
                            {{selectOptions system.weaponMods selected=system.selectMod nameAttr="id" labelAttr="name"}}
                        </select>
            {{#each system.attacks}}
            <ol class="items-list flex-group-center">
                <li class="grid grid-12col">
                    <div class="grid-span-3">
                        <input name="system.attacks.{{@index}}.name" type="text" value="{{this.name}}" data-dtype="String"/>
                    </div>
                    <div class="grid-span-2">
                        <input value="Display" type="text" data-dtype="String" readonly>
                    </div>
                    <div>
                        <input name="system.attacks.{{@index}}.display" type="checkbox" {{checked this.display}}/>
                    </div>
                    <div class="grid-span-2">
                        {{#if @root.system.magazine.coolant}}
                        <input value="Heat" type="text" data-dtype="String" readonly>
                        {{else}}
                        <input value="Ammo" type="text" data-dtype="String" readonly>
                        {{/if}}
                    </div>
                    <div class="grid-span-2">
                        <input name="system.attacks.{{@index}}.ammo" value = "{{this.ammo}}" type="text" data-dtype="Number">
                    </div>
                    <div class="grid-start-11 grid-span-2">
                        {{#if @first}}
                        <a class="item-control sub-create" data-target-name="attacks" title="Add Attack"><i class="fas fa-plus"></i></a>
                        {{else}}
                        <a class="item-control sub-delete" data-target-name="attacks" data-remove-target="{{@key}}" title="Remove Attack"><i class="fas fa-trash"></i></a>
                        {{/if}}
                    </div>
                </li>
                <li>
                    <input name="system.attacks{{@key}}.description" value="{{this.description}}" type="text" data-dtype="String">
                </li>
                <li class="item grid grid-4col flex-group-center">
                    <button class="item-control sub-create" data-target-name="hit" data-pre-target="{{@key}}" title="Add To-Hit Modifier">To-Hit: {{this.hit.total}}</button>
                    <button class="item-control sub-create" data-target-name="damage" data-pre-target="{{@key}}" title="Add Damage Modifier" style="word-wrap: break-word;">Damage:{{this.damage.total}}</button>
                    <button class="item-control sub-create" data-target-name="recoil" data-pre-target="{{@key}}" title="Add Recoil Modifier">Recoil: {{this.recoil.total}}</button>
                    <button class="item-control sub-create" data-target-name="cp" data-pre-target="{{@key}}" title="Add Combat Point Modifier">CP: {{this.cp.total}}</button>
                </li>
                {{#if this.display}}
                <div>
                {{else}}
                <div style="display:none;">
                {{/if}}
                    <li class="grid grid-4col">
                        <div>
                            <input name="system.attacks.{{@key}}.hit.attack" value="{{this.hit.attack}}" type="text" data-dtype="Number" placeholder="From Attack" title="From Attack">
                            <select name="system.attacks.{{@key}}.hit.ability" data-dtype="String">
                                {{#select this.hit.ability}}
                                  <option value=""></option>
                                  {{selectOptions @root.OATS.abilities selected=this.hit.ability localize=true}}
                                {{/select}}
                            </select>
                            {{#each this.hit.mods}}
                            <input name="system.attacks.{{@../key}}.hit.mods.{{@key}}.sourceID" value="{{this.sourceID}}" hidden>
                            <div class="flexrow flex-group-center" style="border-style:groove;">
                                <a class="item-control sub-delete" data-target-name="hit" data-pre-target="{{@../key}}" data-remove-target="{{@key}}" title="Remove To-Hit Modifier">{{this.name}}: {{this.value}}</a>
                            </div>
                            {{/each}}
                        </div>
                        <div>
                            <input name="system.attacks.{{@key}}.damage.attack" value="{{this.damage.attack}}" type="text" data-dtype="String" placeholder="From Attack" title="From Attack">
                            <div class="flexrow flex-group-center">
                                <select class="flex3" name="system.attacks.{{@key}}.damage.ability" data-dtype="String">
                                {{#select this.damage.ability}}
                                    <option value=""></option>
                                    {{selectOptions @root.OATS.abilityShort selected=this.damage.ability localize=true}}
                                {{/select}}
                                </select>
                                <i class="fas fa-times flex1"></i>
                                <input class="flex2" name="system.attacks.{{@key}}.damage.scaleAbility" value="{{this.damage.scaleAbility}}" type="text" data-dtype="Number" placeholder="Multiplier">
                            </div>
                            {{#each this.damage.mods}}
                            <input name="system.attacks.{{@../key}}.damage.mods.{{@key}}.sourceID" value="{{this.sourceID}}" hidden>
                            <div class="flexrow flex-group-center" style="border-style:groove;">
                                <a class="item-control sub-delete" data-target-name="damage" data-pre-target="{{@../key}}" data-remove-target="{{@key}}" title="Remove Damage Modifier">{{this.name}}: {{this.value}}</i></a>
                            </div>
                            {{/each}}
                        </div>
                        <div>
                            <input name="system.attacks.{{@key}}.recoil.attack" value="{{this.recoil.attack}}" type="text" data-dtype="Number" placeholder="From Attack" title="From Attack">
                            {{#each this.recoil.mods}}
                            <input name="system.attacks.{{@../key}}.recoil.mods.{{@key}}.sourceID" value="{{this.sourceID}}" hidden>
                            <div class="flexrow flex-group-center"  style="border-style:groove;">
                                <a class="item-control sub-delete" data-target-name="recoil" data-pre-target="{{@../key}}" data-remove-target="{{@key}}" title="Remove Recoil Modifier">{{this.name}}: {{this.value}}</a>
                            </div>
                            {{/each}}
                        </div>
                        <div>
                            <input name="system.attacks.{{@key}}.cp.attack" value="{{this.cp.attack}}" type="text" data-dtype="Number" placeholder="From Attack" title="From Attack">
                            {{#each this.cp.mods}}
                            <input name="system.attacks.{{@../key}}.cp.mods.{{@key}}.sourceID" value="{{this.sourceID}}" hidden>
                            <div class="flexrow flex-group-center"  style="border-style:groove;">
                                <a class="item-control sub-delete" data-target-name="cp" data-pre-target="{{@../key}}" data-remove-target="{{@key}}" title="Remove Combat Point Modifier">{{this.name}}: {{this.value}}</a>
                            </div>
                            {{/each}}
                        </div>
                    </li>
                </div>
            </ol>
            <hr>
            {{/each}}
        </div>
    </section>
</form>