<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
    <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
    <div class="header-fields">
      <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
    </div>
  </header>

  {{!-- Sheet Body --}}
  <section class="sheet-body">
    <fieldset>
      <legend class="resource-label">
        {{item.mods.total}} Total Modifier {{#if item.actor}}<a class="item-control self-destruct" title="Delete Item"><i class="fas fa-trash"></i></a>{{/if}}
      </legend>
      <div class="grid grid-2col flex-group-center">
        <div>
          <div class="grid grid-4col flex-group-center">
            <span>Focus</span>
            <div class="grid-span-3">
              <select name="system.focus" data-dtype="String">
                {{#select system.focus}}
                <option value="unfocus">{{localize "OATS.skills.unfocus"}}</option>
                <option value="focus">{{localize "OATS.skills.focus"}}</option>
                <option value="double">{{localize "OATS.skills.double"}}</option>
                {{/select}}
              </select>
            </div>
            <span>Ability</span>
            <div class="grid-span-3">
              <select name="system.ability" data-dtype="String">
                {{#select system.ability}}
                  <option value=""></option>
                  {{#each OATS.abilities as |name type|}}
                    <option value="{{type}}">{{localize name}}</option>
                  {{/each}}
                {{/select}}
              </select>
            </div>
            <span>Ranks</span>
            <input name="system.ranks" type="text" value="{{system.ranks}}" data-dtype="Number"/>
            <Span>Armor Penalty</Span>
            <input name="system.armor.active" type="checkbox" {{checked system.armor.active}}/>
          </div>
        </div>
        <i>{{item.mods.label}}</i>
      </div>
      
    </fieldset>
    {{#each item.mods.types}}
    <fieldset>
      <legend class="resource-label">
        {{this}} Modifiers <a class="item-control sub-create" data-target-name="skillMods" data-pre-target="{{@key}}" title="Add {{this}} Modifier"><i class="fas fa-plus"></i></a>
      </legend>
      <ol class="items-list">
        {{#each @root.system.mods}}
        {{#if (eq this.type @../key)}}
        <li class="grid grid-12col flex-group-center">
          <input class="grid-span-7" name="system.mods.{{@key}}.name" type="text" value="{{this.name}}" data-dtype="String" placeholder="Source"/>
          <input class="grid-span-2" name="system.mods.{{@key}}.value" type="text" value="{{this.value}}" data-dtype="Number" placeholder="0"/>
          <div class="grid-span-2">
            <input name="system.mods.{{@key}}.active" title="Active" type="checkbox" {{checked this.active}}/>
          </div>
          <a class="item-control sub-delete" data-target-name="mods" data-remove-target="{{@key}}" title="Remove Modifier"><i class="fas fa-trash"></i></a>
        </li>
        {{/if}}
        {{/each}}
      </ol>
    </fieldset>
    {{/each}}
    <fieldset>
      <legend class="resource-label">
        Description
      </legend>
      <div>
        {{editor enrichDescription target="system.description" rollData=rollData button=true owner=owner editable=editable}}
      </div>
    </fieldset>
  </section>
  
</form>
