<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="description">Description</a>
    <a class="item" data-tab="effects">Effects</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="effects">
      {{> "systems/opsandtactics/templates/item/parts/item-effects.html"}}
    </div>
    <div class="tab" data-group="primary" data-tab="description">
      <fieldset>
        <legend class="resource-label">
          Summary and Description {{#if item.actor}}<a class="item-control self-destruct" data-tooltip="Delete Item"><i class="fas fa-trash"></i></a>{{/if}}
        </legend>
        <input class="flex-group-center" type="text" name="system.summary" value="{{system.summary}}" data-dtype="String" placeholder="Summary">
        <div>
          {{editor enrichDescription target="system.description" rollData=rollData button=true owner=owner editable=editable engine="prosemirror"}}
        </div>
      </fieldset>
    </div>
  </section>
</form>