<form class="{{cssClass}}" autocomplete="off">
  <header class="sheet-header">
      <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
      <div class="header-fields">
        <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
      </div>
  </header>

  <nav class="sheet-tabs tabs" data-group="primary">
    <a class="item" data-tab="stats">Statistics</a>
    <a class="item" data-tab="actions">Actions</a>
  </nav>

  <section class="sheet-body">
    <div class="tab" data-group="primary" data-tab="stats">
      {{> "systems/opsandtactics/templates/item/parts/item-object.html"}}
    </div>
    <div class="tab" data-group="primary" data-tab="actions">
      <fieldset>
        <legend class="resource-label">
          Object Actions <a class="item-control sub-create" data-target-name="action" title="Add Action"><i class="fas fa-plus"></i></a>
        </legend>
        <div class="grid grid-9col flex-group-center">
          <select class="grid-span-3 flex-group-center" name="system.magazine.type" data-dtype="String">
            {{#select system.magazine.type}}
                <option value="unlimited">Unlimited</option>
                <option value="consumable">Consumable</option>
            {{/select}}
          </select>
          <span class="">Range</span>
          <input name="system.range" value="{{system.range}}" type="text" data-dtype="String" placeholder="ft">
          <span>Crit</span>
          <input type="text" name="system.crit" value="{{system.crit}}" data-dtype="Number">
          <span class="grid-span-2"></span>
          {{#unless (eq system.magazine.type 'unlimited')}}
          <select class="grid-start-1 grid-span-2 flex-group-center" name="system.magazine.insideOut" data-dtype="String">
              {{#select system.magazine.insideOut}}
                  <option value="internal">Internal</option>
                  <option value="external">External</option>
                  <option value="both">Both</option>
              {{/select}}
          </select>
          <a class="resource-label" data-tooltip="Transfer Uses"><i class="fa-solid fa-right-left"></i></a>
          <select class="grid-span-6 flex-group-center" name="system.magazine.source" data-dtype="String">
          {{#select system.magazine.source}}
              <option value="">Unloaded</option>
              {{#each magazines}}
              {{#if this.entries.length}}
              <optgroup label="{{this.label}}">
                  {{selectOptions this.entries selected=@root.system.magazine.source nameAttr="id" labelAttr="label"}}
              </optgroup>
              {{/if}}
              {{/each}}
          {{/select}}
          </select>
          {{/unless}}
        </div>
      </fieldset>
      {{#each system.actions}}
      <fieldset>
        <legend>
          <div class="flexrow flex-group-center">
            <input name="system.actions.{{@key}}.name" type="text" value="{{this.name}}" data-dtype="String"> <a class="item-control sub-delete flex0" data-target-name="actions" data-remove-target="{{@key}}" title="Remove Action"> <i class="fas fa-trash"></i></a>
          </div>
        </legend>
        <ol class="items-list">
          <li class="item grid grid-9col flex-group-center">
            <span>Active</span>
            <div>
              <input name="system.actions.{{@key}}.active" type=checkbox {{checked this.active}}>
            </div>
            <select class="grid-span-3 flex-group-center" name="system.actions.{{@key}}.check.type">
            {{#select this.check.type}}
              <option value="melee">Melee Attack</option>
              <option value="ranged">Ranged Attack</option>
              <option value="noneAttack">Message (Attack)</option>
              <option value="noChatAttack">Resources (Attack)</option>
              <option value="skill">Skill Check</option>
              <option value="generic">Generic Check</option>
              <option value="otherUtility">Other Roll</option>
              <option value="noneUtility">Message (Utility)</option>
              <option value="noChatUtility">Resources (Utility)</option>
            {{/select}}
            </select>
            <span>CP</span>
            <input name="system.actions.{{@key}}.cp.inherent" type="text" value="{{this.cp.inherent}}" data-dtype="Number" placeholder="0">
            <span>Cost</span>
            <input name="system.actions.{{@key}}.ammo" type="text" value="{{this.ammo}}" data-dtype="Number" placeholder="0">            
          </li>
          <li class="item grid grid-9col flex-group-center">
            {{#unless (or (eq this.check.type "noneAttack") (eq this.check.type "noneUtility") (eq this.check.type "noChatAttack") (eq this.check.type "noChatUtility"))}}
            {{#if (eq this.check.type "skill")}}
            <select class="grid-span-9 flex-group-center" name="system.actions.{{@key}}.check.source">
              {{selectOptions @root.sourceSkills selected=this.check.source nameAttr="id" labelAttr="label"}}
            </select>
            {{else}}
            <span class="grid-span-2">Check Modifier</span>
            <input class="grid-span-4" type="text" name="system.actions.{{@key}}.check.inherent" value="{{this.check.inherent}}" data-dtype="String" placeholder="Inherent">
            <select class="grid-span-3 flex-group-center" name="system.actions.{{@key}}.check.ability" data-dtype="String">
            {{#select this.check.ability}}
              <option value="">Ability Modifier</option>
              {{selectOptions @root.OATS.abilities selected=this.check.ability localize=true}}
            {{/select}}
            </select>          
            {{/if}}
            {{/unless}}
            <input class="grid-span-9" type="text" name="system.actions.{{@key}}.check.flavor" value="{{this.check.flavor}}" data-dtype="String" placeholder="Check roll flavor">
          </li>
          {{#unless (or (eq this.check.type "noChatAttack") (eq this.check.type "noChatUtility"))}}
          <li class="item grid grid-9col flex-group-center">
            <span class="grid-span-2">Effect Roll</span>
            <input class="grid-span-4" type="text" name="system.actions.{{@key}}.effect.inherent" value="{{this.effect.inherent}}" data-dtype="String" placeholder="Inherent">
            <select class="grid-span-3 flex-group-center" name="system.actions.{{@key}}.effect.ability" data-dtype="String">
            {{#select this.effect.ability}}
              <option value="">Ability Modifier</option>
              {{selectOptions @root.OATS.abilities selected=this.effect.ability localize=true}}
            {{/select}}
            </select>  
            <input class="grid-span-9" type="text" name="system.actions.{{@key}}.effect.flavor" value="{{this.effect.flavor}}" data-dtype="String" placeholder="Effect roll flavor">
          </li>
          {{/unless}}
        </ol>
      </fieldset>
      {{/each}}
    </div>
  </section>
</form>