<form class="{{cssClass}}" autocomplete="off">
    <header class="sheet-header">
        <img class="item-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
        <div class="header-fields">
          <h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder="Name"/></h1>
        </div>
    </header>
    <section class="sheet-body">
        <ol class="items-list flex-group-center">
            <li class="item items-header resource-label grid grid-5col">
                <div class="grid-span-3">Type</div>
                {{#if system.coolant.flag}}
                <div>Heat Sunk</div>
                <div>State</div>
                {{else}}
                <div>Amount</div>
                <div>Capacity</div>
                {{/if}}
            </li>
            <li class="grid grid-5col">
                <div class="grid-span-3">
                    <select name="system.magazine.type" data-dtype="String">
                    {{#select system.magazine.type}}
                        <option value="storage">Storage</option>
                        <option value="external">Magazine</option>
                        <option value="coolant">Coolant Pack</option>
                    {{/select}}
                    </select>
                </div>
                <div>
                    <input name="system.magazine.value" value="{{system.magazine.value}}" type="text" data-dtype="Number"/>
                </div>
                {{#if system.coolant.flag}}
                <div>
                    <select name="system.coolant.hot" data-dtype="String">
                    {{#select system.coolant.hot}}
                        <option value="Cool">Cool</option>
                        <option value="Hot">Hot</option>
                    {{/select}}
                    </select>
                </div>
                {{else}}
                <div>
                    <input name="system.magazine.max" value="{{system.magazine.max}}" type="text" data-dtype="Number"/>
                </div>
                {{/if}}
            </li>
        </ol>
        {{> "systems/opsandtactics/templates/item/parts/item-object.html"}}
    </section>
</form>